<a href="/problems/<%= id %>">
  <div class="card">
    <div class="card-title"><%= title %></div>
    <div class="card-completed-count">
      정답자: <%= completedUsers %>명
    </div>
    <div class="card-level">난이도: <%= level %></div>
  </div>
</a>
