<link rel='stylesheet' href='/stylesheets/header.css' />

<header>
  <div class="header-wrapper">
    <div class="header-logo">
      <img class="header-logo-image" src="logo2.png" />
      <h3>CODEWARS</h3>
    </div>
    <a class="header-logout" href="/logout">logout</a>
  </div>
</header>
