<header>
  <div class="header-brand"><a href="/">Codewars</a></div>
  <% if (user) {%>
    <div class="header-username"><%= user %></div>
  <% } %>
  <div class="header-btn__logout"><a href="/logout">Logout</a></div>
</header>
