<div class="Nav">
  <a href='/'>Home</a>
  <a href='/sign-out'>Sign Out</a>
  <a href='/delete-account'>Delete Account</a>
</div>

<% if (user) { %>
  <h2><%= `반가워요. ${user.userName}님!` %></h2>
<% } %>

<hr>
