<div class="header-container">
  <div class="header-column">
    <i class="fab fa-freebsd"></i>
    <span class="title">Codewars</span>
  </div>
  <div class="header-column">
    <div class="user-info">
      <img class="user-avatar" src="<%= avatar %>" alt="avatar" />
      <span><%= username %></span>
    </div>
    <a href="/logout">
      <span class="logout-button">log out</span>
    </a>
  </div>
</div>