<header>
  <div class="header">
    <div class="logo">Codewars</div>
    <div class="user-logout">
      <img class="photo" src=<%= user.photo %> >
      <span class="hi">Hi, <%= user.name.givenName %></span>
      <button class="logout-button" onClick="location.href='/logout'">Logout</button>
    </div>
  </div>
</header>