div.header
  .header__wrapper
    .title__wrapper
      image.title__logo(src="/images/codewars_logo_icon_big.png")
      label.title__label CodeWars
    .userButtons__container
      .joinButton 
        a.btn.btn-primary(href="/join") Join
      .logButton 
        a.btn.btn-primary(href="/login/") Sign In
