<header class="header">
  <span class="header-logo"> </span>
  <a href="/" class="header-title">CODEWARS</a>
  <a href="https://www.codewars.com/dashboard" class="header-content">Real War</a>
  <a href="/auth/logout" class="header-content">Logout</a>
</header>
