<header>
  <div class="logo">
    <a href="/"><img src="/icons/swords.svg" alt="swords"></a>
    <div class="title">Codewars</div>
  </div>
  <% if (user) { %>
    <div class="current-user">
      <% if (user.photoUrl) { %>
        <img src=<%= user.photoUrl %> alt="user photo">
      <% } else { %>
        <img src="/icons/user.svg" alt="user photo">
      <% } %>
      <%= user.username %>
    </div>
  <% } %>
  <div class="menu">
    <ul>
      <% if (!user) { %>
        <li><a href="/">Home</a></li>
        <li><a href="/join">Join</a></li>
        <li><a href="/login">Login</a></li>
      <% } else { %>
        <li><a href="/">Home</a></li>
        <li><a href="/logout">Logout</a></li>
      <% } %>
    </ul>
  </div>
</header>
<h1 class="pageTitle"><%= title %></h1>