<header>
  <a href="/">
    <img class="logo" src="/assets/logo.png" alt="logo" class="logo" />
    <h1 class="title">The Last Vanilla Coder</h1>
  </a>
  <% if (!user) { %>
    <a class="signup" href=<%=signupRef %> >
      <%= signupStatus %>
    </a>
    <% } %>
      <a class="login" href=<%=loginRef %> >
        <%= loginStatus %>
      </a>
</header>
