<nav class="header-container">
  <!-- <span>
    <a href="/"> Home </a>
  </span> -->

  <h1 class="header-title">Codewar</h1>

  <span class="header-link">
    <a href="/"> Solved </a>
  </span>
  <span class="header-link">
    <a href="/logout"> Logout </a>
  </span>
</nav>
