<head>
  <title>CodeWave</title>
  <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css" />
  <link rel="stylesheet" href="../stylesheets/style.css" />
  <link rel="stylesheet" href="../stylesheets/wave.css" />
</head>
