<nav>
  <div class="nav-container">
    <h3>안녕하세요, <%= displayName %> 님</h3>
    <div class="indicator-wrapper">
      <div class="home-link"><a href="/"><h3>HOME</h3></a></div>
      <div class="logout-link"><a href="/logout"><h3>LOGOUT</h3></a></div>
      <div class="my-solution-link"><a href="/mysolutions"><h3>MY SOLUTIONS</h3></a></div>
    </div>
  </div>
</nav>
