<nav class="header-container">
  <!-- <span>
    <a href="/"> Home </a>
  </span> -->

  <h1 class="header-title"><a href="/">Codewar</a></h1>

  <span class="header-link">
    <a href="/solved"> 성공한 문제 </a>
  </span>
  <span class="header-link">
    <a href="/unsolved"> 못 푼 문제 </a>
  </span>
  <span class="header-link">
    <a href="/logout"> Logout </a>
  </span>
</nav>
