<header>
  <div class="header-brand">
    <a href="/"><img src="/img/logo.png" alt="logo" /><span>Codewars</span></a>
  </div>
  <% if (user) {%>
  <div class="header-username">Hello, <%= user %></div>
  <% } %>
  <div class="header-btn-logout"><a href="/auth/logout">Logout</a></div>
</header>
