<nav>
  <div class="nav_container">
      <h3>안녕하세요, <%= displayName %> 님</h3>
      <div class="home_link"><a href="/">HOME</a></div>
      <div class="logout_link"><a href="/logout">LOGOUT</a></div>
      <!-- <div class="my_solution_link"><a href="/solutions">My Solution</a></div> -->
  </div>
</nav>
