<div class="header-container">
  <div class="header-column">
    <i class="fab fa-freebsd"></i>
    <span class="title">Codewars</span>
  </div>
  <div class="header-column">
    <img class="user-avatar" src="<%= avatar %>" alt="avatar" />
    <%= username %>
  </div>
</div>