<header class="gnb">
  <h1>Codewars</h1>
  <p>
    <strong>
      <%= userInfo.username %>
    </strong>
    님이
    <strong>
      <%= userInfo.platformName %>
    </strong>
    로 로그인하셨습니다.
  </p>
  <a href="/logout">Logout</a>
</header>
