<nav>
  <div class="nav-container">
    <h2>안녕하세요, <%= displayName %> 님</h2>
    <div class="indicator-wrapper">
      <div class="home-link"><a href="/"><h2>HOME</h2></a></div>
      <div class="logout-link"><a href="/logout"><h2>LOGOUT</h2></a></div>
    </div>
  </div>
</nav>
