<header>
  <div class="header-wrapper">
    <div class="header-logo">
      <img class="header-logo-image" src="/logo.png" />
      <h3>CODEWARS</h3>
    </div>
    <div class="header-user-data">
      <% if (user.avatar) { %>
        <img class="header-user-avatar" src=<%= user.avatar %> />
      <% } else { %>
        <img class="header-user-avatar" src="/user_img.png" />
      <% } %>
      <h3><%= user.username %></h3>
    </div>
    <div class="header-button-set">
      <a class="header-button-home" href="/">
        <i class="fas fa-home header-icon"></i>
        <div class="header-logout">HOME</div>
      </a>
      <a class="header-button-logout" href="/logout">
        <i class="fas fa-sign-out-alt header-icon"></i>
        <div class="header-logout">LOG OUT</div>
      </a>
    </div>
  </div>
</header>
