header.header
  .header__wrapper
    .title__wrapper
      image.title__logo(src="/images/codewars_logo_icon_big.png")
      label.title__label CodeWars
    .userButtons__container
      .joinButton
      .logButton
        if (isNeedLogin)
          a.btn.btn-primary(href="/login/google") Sign In
        else
          a.btn.btn-primary(href="/logout") Sign Out
