<header>
  <a href="/">
    <img class="logo" src="/assets/logo.png" alt="logo" class="logo" />
  </a>
  <h1 class="title">The Last Vanilla Coder</h1>
  <a class="login" href=<%=ref %> >
    <%= loginStatus %>
  </a>
</header>
