<header>
  <div class="logo">
    <img src="/icons/swords.svg" alt="swords">
    Codewars
  </div>
  <% if (user) { %>
    <div class="current-user">
      <% if (user.photoUrl) { %>
        <img src=<%= user.photoUrl %> alt="user photo">
      <% } else { %>
        <img src="/icons/user.svg" alt="user photo">
      <% } %>
      <%= user.username %>
    </div>
  <% } %>
  <div class="menu">
    <ul>
      <% if (!user) { %>
        <li><a href="/">Home</a></li>
        <li><a href="/join">Join</a></li>
        <li><a href="/login">Login</a></li>
      <% } else { %>
        <li><a href="/">Home</a></li>
        <li><a href="/logout">Logout</a></li>
      <% } %>
    </ul>
  </div>
</header>
<h1><%= title %></h1>
