<body>
  <div class="detail-wrapper">
    <div class="detail-title">
      <h1><%= selectedProblem.title %></h1>
    </div>
    <div class="detail-desc">
      <h2 class="problem-desc-title">문제 설명</h2>
      <h2 class="problem-desc">: <%= selectedProblem.description %></h2>
    </div>
  </div>
</body>
