<body>
    <div>
        <h1><%= selectedProblem.problemTitle %></h1>
        <h3>난이도: <%= selectedProblem.level %></h3>
        <div>
            <h2>문제 설명</h2>
            <h3><%= selectedProblem.description %></h3>
        </div>
    </div>
</body>
