<li>
  <a class="problem-block" href=<%=problem.problemRef %> >
    <h4>
      <%= problem.title %>
    </h4>
    <div class="info">
      <h6>
        Level: <%= problem.difficulty_level %>
      </h6>
      <h6>
        정답자 수: <%= problem.completed_users %>
      </h6>
    </div>
  </a>
</li>
