<div class="problem-detail">
  <div class="problem-detail__title">
    <h1>Lv.<%= problem.difficulty_level %> <%= problem.title %></h1>
    <span>정답자 수 : <%= problem.completed_users.length %></span>
  </div>
  <p><%= problem.description %></p>
</div>
