{
    "plugins": [
      "prettier"
    ],
    
    "extends": [
      "eslint:recommended",
      "plugin:prettier/recommended",
      "plugin:node/recommended"
    ],
    
    "parserOptions": {
      "ecmaVersion": 8,
      "sourceType": "script"
    },
    
    "env": {
      "browser": false,
      "node": true,
      "mocha": true
    },
  
    "ignorePatterns": [
      "node_modules/",
      "www",
    ],
    
    "rules": {
      "prettier/prettier": "error"
    }
  }