<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= siteTitle %></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/codemirror.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.60.0/theme/moxer.min.css" />
  <link type="text/css" rel='stylesheet' href='/stylesheets/main.css' />
</head>
<body>
  <%- body %>
  <%- script %>
  <script type="text/javascript" src="/javascripts/index.js"></script>
</body>
</html>
