<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= problem.title %></h5>
    <h6 class="card-subtitle mb-2 text-muted">=======</h6>
    <p class="card-text"><%= problem.description%>
    </p>
    <a href=/problems/<%= problem._id %> class="card-link">해당 문제 풀기</a>
  </div>
</div>
