<h1>Login</h1>
<form action="/auth/local" method="POST">
  <input name="email" />
  <input name="password" />
  <button class="button" type="submit">로그인</button>
</form>
<form action="/auth/github" method="GET">
  <button class="button" type="submit">GitHub</button>
</form>
