<h1>Login</h1>
<div class="auth-container">
  <form action="/auth/local" method="POST">
    <div>
      <label for="email">Email</label>
      <input name="email" />
    </div>
    <div>
      <label for="password">Password</label>
      <input name="password" />
    </div>
    <button class="button" type="submit">로그인</button>
  </form>
  <form action="/auth/github" method="GET">
    <button class="button" type="submit">GitHub</button>
  </form>
</div>
