<!DOCTYPE html>
<html>
  <head>
    <script src="/codemirror/lib/codemirror.js"></script>
    <script src="/codemirror/mode/javascript.js"></script>
    <script src="/codemirror/addon/line_numbers.js"></script>
    <script src="/codemirror/addon/edit/closebrackets.js"></script>
    <script src="/codemirror/addon/edit/closetag.js"></script>
    <script src="/codemirror/addon/edit/continuelist.js"></script>
    <script src="/codemirror/addon/edit/matchbrackets.js"></script>
    <script src="/codemirror/addon/edit/matchtags.js"></script>
    <script src="/codemirror/addon/edit/trailingspace.js"></script>

    <link rel="stylesheet" href="/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="/codemirror/theme/material-palenight.css">
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/header %>

    <h2><%= title %></h2>

    <div class="problem-container">
      <div class="error-container">
        <h1>코드 에러!</h1>
        <div>
          <h2>에러: <%= errorName %></h4>
          <h3>에러 메시지: <%= errorMessage %></h3>
          <pre>에러 스택: <%= errorStack %></pre>
        </div>
      </div>
    </div>

    <% include ./partials/footer %>
  </body>
</html>
