<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create account</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/createAccount.css' />
  </head>
  <body>
    <div class="create-account-container">
      <h1 class="create-account-title">Create account</h1>
      <form action="/create_account/new"
        method="POST"
        class="create-account-form"
      >
        <label>Name</label>
        <input
          class="input-user-name"
          type="text"
          name="name"
          value="<%= name %>"
          required
        >
        <label>Email</label>
        <input
          class="input-user-email"
          type="text"
          name="email"
          autocomplete="username"
          value="<%= email %>"
          required
        >
        <label>Password</label>
        <input
          class="input-user-password"
          type="password"
          name="password"
          autocomplete="new-password"
          required
        >
        <label>Password confirm</label>
        <input
          class="input-user-password-confirm"
          type="password"
          name="passwordConfirm"
          autocomplete="new-password"
          required
        >
        <div class="message-box">
          <p class="message">
            <%= message %>
          </p>
        </div>
        <button
          class="login-link-button"
          type="button"
        >
          Return to log in page
        </button>
        <button class="create-account-button" type="submit">Create account</button>
      </form>
    </div>
    <script src="../javascripts/createAccount.js"></script>
  </body>
</html>