<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create account</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/createAccount.css' />
  </head>
  <body>
    <div class="create-account-container">
      <h1 class="create-account-title">Create account</h1>
      <form action="" class="create-account-form">
        <label>Name</label>
        <input
          class="input-user-name"
          type="text"
          name="user-name"
        >
        <label>Email</label>
        <input
          class="input-user-email"
          type="text"
          name="user-email"
        >
        <label>Password</label>
        <input
          class="input-user-password"
          type="password"
          name="user-password"
        >
        <label>Password</label>
        <input
          class="input-user-password-confirm"
          type="password"
          name="user-password-confirm"
        >
        <button class="create-account-button" type="submit">Create account</button>
      </form>
    </div>
  </body>
</html>