<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('partial/header') %>
      <h1><%= message %></h1>
      <p>없는 페이지입니다.</p>
  </body>
</html>
