<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include("partials/head") %>
  </head>
  <body>
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= isDev ? error.stack : null %></pre>
  </body>
</html>

