<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/error.css' />
  </head>
  <body>
    <div class='error-box'>
      <div class='error-message'><%= errorMessage %></div>
      <a href='/'>HOME</a>
    </div>
  </body>
</html>
