<% include ./partial/head %>
<div class="error-body">
  <div id="clouds">
    <div class="cloud x1"></div>
    <div class="cloud x1_5"></div>
    <div class="cloud x2"></div>
    <div class="cloud x3"></div>
    <div class="cloud x4"></div>
    <div class="cloud x5"></div>
  </div>
  <div class='error-container'>
    <div class='error-status'><%= error.status %></div>
    <hr>
    <div class='error-message'><%= error.message %></div>
    <a class='mainbtn' href='/'>메인으로</a>
  </div>
</div>