<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/error.css' />
  </head>
  <body>
    <div class="error-container">
      <nav class="error-nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </nav>
      <div class="error-content-container">
          <p><%= `Error Status : ${error.status}` %></p>
          <p><%= error.message %></p>
      </div>
    </div>
  </body>
</html>
