<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets//error.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
  <title>Error</title>
</head>
<body>
  <h1 class="error"><%= error.message %>.<%= error.status %></h1>
  <a class="link-home" href="/">
    HOME
    <span class="link-line"></span>
  </a>
  <footer class="footer">All rights © 2021 Vanilla Coding</footer>
</body>
</html>
