<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <div class="container">
      <div class="error-box">
        <h1><%= message %></h1>
        <h2><%= errorStatus %></h2>
        <p>Sorry. Something went wrong.</p>
        <a href="/">Go back</a>
      </div>
    </div>
  </body>
</html>
