<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <div class="container msg">
      <div class="error-box">
        <h1 class="basic-msg">
          <strong><%= errorStatus %></strong>
        </h1>
        <h2 class="basic-msg"><%= message %></h2>
        <p class="apologize-msg">Sorry. Something went wrong.</p>
        <a href="/" class="btn-basic">Go back</a>
      </div>
    </div>
  </body>
</html>
