<%# views/error.ejs %>
<% extend('layout') %>
<% include ./header %>

<div class='error-container'>
  <h1 class='error-message'><%= message %></h1>
  <h2 class='error-status'><%= error.status %></h2>
  <pre class='error-stack'><%= error.stack %></pre>
  <form action='/' method='GET'>
    <button type='submit' class='home-button'>Home</button>
  </form>
</div>
