<!DOCTYPE html>
<html lang='en'>
<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>바닐라코딩 프로그래머스</title>
</head>
<body>
  <div class='error-container'>
  <img src='https://icon-library.net/images/sad-faces-icon/sad-faces-icon-17.jpg'/>
  <div class='error-message'>
    <span><%= error.status %> :&nbsp;</span>
    <span><%= error.message %></span>
  </div>
  <div class='error-sub'>
    <% if(error.status === 401){ %>
      <div class='error-login'>
        <a href='/login'>
        <span>GO HOME</span>
        </a>
      </div>
    <% } %>
  </div>
  </div>
</body>
</html>
