<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/header %>

    <h1 class="error"><%= message %></h1>
    <h2 class="error"><%= error.status %></h2>
    <pre class="error"><%= error.stack %></pre>

    <% include ./partials/footer %>
    <script src='/javascripts/index.js'></script>
  </body>
</html>
