html
  head
    title Error
    meta(charset='utf-8')
    link(
      rel='stylesheet'
      href='/stylesheets/style.css'
    )
  body
    div.app
      div.header
        h1
          a(href='/') HOME
        form.right(action='/logout', method='POST')
          input.button(type='submit', value='로그아웃')
      div.resultContainer
        h1 Error
        h2= error
