<!DOCTYPE html>
<html>
  <head>
    <%- include ./includes/head.ejs %>
  </head>
  <body>
    <%- include ./includes/header.ejs %>
    <div class="container">
      <div class="error-container">
        <div class="error-box">
          <div class="error-infos">
            <div><%= error.status %></div>
            <div><%= error.message %></div>
            <div class="error-redirect-box">
              <a href="/" class="error-redirect-button">돌아가기</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
