<% include ./partial/head %>
<div class="error-body">
  <div class='error-container'>
    <div class='error-status'><%= err.status %></div>
    <hr>
    <div class='error-message'><%= err.message %></div>
    <a class='mainbtn' href='/'>메인으로</a>
  </div>
</div>
