<link rel="stylesheet" href="/stylesheets/style.css" />

<div class="flex-wrapper">
  <% include header.ejs %>
  <main class="result-failure-wrapper">
    <% if(!testResults.runSuccess){ %>
      <h2>Error occured!</h2>
      <h1><%= testResults.result %></h1>
    <% } else{ %>  
      <div class="result-board">
        <span class="failure-title">Failure</span>
        <ul class="result-test-board">
          <% for(let i = 0; i < testResults.result.length; i++) { %>
            <li class="result-test">Test <%= i %> 실행 결과 
              <% if(testResults.result[i] === true){ %>
                <span class="result-test-true">
                  <%= testResults.result[i] %>
                </span>
              <% } else{ %>
                <span class="result-test-false">
                  <%= testResults.result[i] %>
                </span>
              <% } %>
            </li>
          <% } %>
        </ul>
      </div>
    <% } %>
  </main>
</div>
