<!DOCTYPE html>
<html>
  <head>
    <title>Fail</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('partials/header') %>

    <h1>Fail</h1>
    <h2><%= problem_id %></h2>

    <%- include('partials/footer') %>
  </body>
</html>
