<%# views/failure.ejs %>
<% extend('layout') %>
<% include ./header %>

<div class='failure-container'>
  <h2 class='failure-message'>Never give up, retry! 👊</h2>
  <div class='test-info'>
    <h5>Failed Test</h5>
    <div><%= failureProblem %></div>
    <h5>Expected Answer</h5>
    <div><%= expectedAnswer %></div>
    <h5>Your Answer</h5>
    <div><%= wrongAnswer %></div>
  </div>
  <div class='buttons'>
    <form action='/problems/<%= problemId %>' method='GET'>
      <button type='submit' class='retry-button'>Retry</button>
    </form>
    <form action='/' method='GET'>
      <button type='submit' class='home-button'>Home</button>
    </form>
  </div>
</div>
