<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>fail !</h1>
  <div><%= failmessage %></div>
  <pre><%= error %></pre>
</body>

</html>
