<%- include('partials/problem-detail') %>

<div class="playground failure">
  <div class="solution">
    <div class="title">Solution</div>
    <textarea id="codearea" name="usercode"><%= usercode %></textarea>
  </div>
  <div class="output failure">
    <div class="title">Output</div>
    <div class="statistics">Time: 936ms Passed: 0 Failed: 2</div>
    <div class="results">Test Results:
      Multiply
      fixed tests
      expected undefined to equal 1
      Completed in 2ms
      random tests
      Completed in 2ms</div>
  </div>
</div>

<form class="buttons" action="/problems/<%= problem.id %>" method="get">
  <button type="submit">다시 풀기</button>
</form>

<%- include('partials/codemirror') %>