<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Codewars</h1>
    <h2>U Fail</h2>
    <% for (let i = 0; i < result.length; i ++) { %>
    <ul>
      <li>실패한 케이스 번호: <%=result[i].testCase%></li>
      <li>실패한 케이스 실행문: <%=result[i].excutedCode%></li>
      <% if (result[i].returned === undefined) {%>
        <li>실패한 케이스 반환값: undefined</li>
      <%} else if (result[i].returned === null) {%>
        <li>실패한 케이스 반환값: null</li>
      <%} else {%>
        <li>실패한 케이스 반환값: <%=result[i].excutedCode%></li>
      <%}%>
    </ul>
    <% } %>
    <button><a href="/problem/<%=result[0].problemNumber%>">다시풀기</a></button>
    <button><a href="/">다른 문제 풀기</a></button>
  </body>
</html>
