<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div className="failure-message">
      <div class="failure-wrap">
        <h1><img src="https://image.flaticon.com/icons/svg/25/25231.svg" width="200px"></img>실패했습니다.</h1>
        <div><%= message %></div>
        <a class="returnbtn" href="javascript:history.back()">문제로 돌아가기</a>
      </div>
    </div>
  </body>
</html>
