<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Document</title>
</head>
<body>
  <header>
    <% include ./header %>
  </header>
  <% if (err) {%>
    <span>오류가 발생했습니다.</span>
    <%= err.message %>
  <% } else {%>
    <ul class="problems">
      <% for (let i = 0; i < failTests?.length; i++) { %>
        <li>
          <div>이 문제가 틀렸습니다.</div>
          <div><%= failTests[i]?.code %></div>
        </li>
      <% } %>
    </ul>
  <% } %>
  <a href="<%= `/problems/${targetProblemId}` %>">문제로 돌아가기</a>
</body>
</html>
