<!DOCTYPE html>
<html lang="en">
  <%- include("head") %>
  <body>
    Fail!
    <p>
      your answer: <%= answer %>
    </p>
    <p>
      expected: <%= expected %>
    </p>
    <p>
      your code: <%= code %>
    </p>
  </body>
</html>
