<div class="failure">
  <h1>Failed...Try again!</h1>
  <p>Failed <span>'<%= problem.code %>'</span>..Your case is <span>'<%= problem.result %>'</span>.. Expected <span>'<%= problem.expected %>'</span></p>
</div>