<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/detailProblem.css" />
    <link rel="stylesheet" href="/codemirror/lib/codemirror.css" />
    <link rel="stylesheet" href="/codemirror/theme/gruvbox-dark.css" />
    <script src="/codemirror/lib/codemirror.js"></script>
  </head>
  <body>
    <section>
      <article>
          <textarea id="code" name="submit_text"><%= userCode %></textarea>
        <script>
          const editor = CodeMirror.fromTextArea(document.getElementById("code"), {
            lineNumbers: true,
            styleActiveLine: true,
            mode: "javascript",
            indentUnit: 2,
            identWithTabs: true,
            theme: "gruvbox-dark"
          });
        </script>
      </article>
      <article></article>
    </section>
    <form action="/" method="GET">
      <button type="submit">홈으로</button>
    </form>
  </body>
</html>
