<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/failure.css' />
  </head>
  <body>
    <div class='failure-box'>
      <div class='failure-message'>😱 <%= failureProblem.title %>를(을) 다시풀어보세요. 😱</div>
      <div class='failure-case'>aa</div>
      <a href='/problems/<%= failureProblem.id %>'><%= failureProblem.title %> 다시풀기</a>
    </div>
  </body>
</html>
