<div class="failure">
  <h1>Failed...Try again!</h1>
  <p>Failed <span>'<%= failedCase.code %>'</span>..Your case is <span>'<%= failedCase.result %>'</span>.. Expected <span>'<%= failedCase.expected %>'</span></p>
</div>