<% if (solutionError) { %>
  <div class="code-error">
    <p><%= solutionError.message %></p>
  </div>
<%} else {%>
  <div class="failure-container">
    <% resultList.forEach(result => { %>
      <div>
        <% if (!result.isPassed) { %>
          <span class="fail">
            Expected: <%= result.expectedResult %>
          </span>
          <span class="fail">
            instead got: <%= result.testResult %>
          </span>
        <% } else { %>
          <span class="pass">
            Test Passed: Value === <%= result.expectedResult %>
          </span>
        <% } %>
      </div>
    <% }) %>
  </div>
<% } %>
