<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
  </head>
  <body>
    <h1>실패 페이지</h1>
    <p>실패한 케이스입니다</p>
    <p><%= failProblem %></p>
    <form action="/" method="GET">
      <button type="submit">홈으로</button>
    </form>
  </body>
</html>
