<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Submission Failed</title>
  </head> -->
  <body>
    <p><%= detail %></p>
    <a href= <%= `/problems/${problemId}` %> >
      <button>GO BACK TO PROBLEM</button>
    </a>
  </body>
<!-- </html> -->
