<header class="header">
  <%if (login){ %>
  <p>유저: <%= login %></p>
  <a class="button-login" href="/logout">logout</a>
  <% } else { %>
  <a class="button-login" href="/login">login</a>
  <% } %>
</header>
