<header>
  <nav>
    <ul>
      <!-- <li>
        <a href='/level1'>Level1</a>
      </li>
      <li>
        <a href='/level2'>Level2</a>
      </li>
      <li>
        <a href='/level3'>Level3</a>
      </li> -->
      <li>
        <a href='/logout'>Logout</a>
      </li>
    </ul>
  </nav>
</header>

