<header class="header-container">
  <div>
    <a href="/">
      <img
        src="https://www.codewars.com/assets/logos/logo-square-red-big-c74ae0e7a89b33acd3beb1f08229630391934650e3bbd30ddc40e8be5bbfc71e.png"
        class="logo">
    </a>
    <% if (isLogined) { %>
      <a href="/logout" class="header-login">Logout</a>
    <% } else { %>
      <a href="/login" class="header-login">Login</a>
    <% } %>
  </div>
</header>
