<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
    />
    <%- include('codeMirrorLink') -%>
  </head>
  <body>
    <img
      src="https://post-phinf.pstatic.net/MjAyMDAxMDlfODIg/MDAxNTc4NTU4MTY4OTQx.UuHQoXOMVqBDtkShsJ5Q_FH1XST4l3LoRgYFseitGfog.FQ835QfuinCJtFAe882Q6kUvfJUdabR2nefsWhtZfTIg.JPEG/28169680598_98f82498bd_b.jpg?type=w1200"
    />
    <header class="header">
      <% if (user) { %>
      <h3><%= user.username %> 용사여 출격!!</h3>
      <a href="/">Home</a>
      <a href="/logout">Log out</a>
      <% } %>
    </header>
  </body>
