<header>
  <div class="gradient-border">
    <h1>
      <a href="/">
        <img class="logo" src="/images/logo_horizontal.jpg" alt="Code Wars Logo" />
      </a>
    </h1>
    <div class="right">
      <ul class="profile-list">
        <li class="nickname">
          <img src="/images/icon/icon_09.png" alt="profile icon" />
          <span><%= nickname %></span>
        </li>
        <li class="logout">
          <form method="GET" action="/users/logout">
            <button class="button yellow" type="submit">LOGOUT</button>
          </form>
        </li>
      </ul>
    </div>
  </div>
</header>
