<link rel='stylesheet' href='/stylesheets/reset.css' />
<link rel='stylesheet' href='/stylesheets/header.css' />
<nav class="header-nav">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/problems">Problem</a></li>
    <% if (loginStatus === "login") { %>
    <li><a href="/logout">Logout</a></li>
    <% } %>
  </ul>
</nav>
