<!DOCTYPE html>
  <html>
    <head>
      <link rel="stylesheet" href="/stylesheets/header.css">
    </head>
    <body>
      <header class="header">
        <ul>
          <li>
            <a href="/">
              <img src="https://gitlab.com/uploads/-/system/project/avatar/12144548/codewars-logo.png" alt="codewars">
            </a>
          </li>
          <li><%= username %></li>
          <li>
            <a class="logout" href="/logout">LOG OUT</a>
          </li>
        </ul>
      </header>
    </body>
  </html>
