<div class='header-container'>
  <a href='/'><h1 class='header-title'>Codewars</h1></a>
  <div class='header-sub-info'>
    <span class='header-username'><%= username %> 님, 환영합니다!</span>
    <form action='/logout' method='GET'>
      <button class='logout-button'>Logout</button>
    </form>>
  </div>
</div>