<header>
  <div>
    <a href='/'><img class='logo' src='/img/logo.png'/></a>
  </div>
  <div>
    <p>yourScore <%= userInfo.totalScore %></p>
  </div>
  <div>
    <p>Hello, <%= userInfo.name %></p>
  </div>
  <div>
    <a class='logout' href='/logout'>로그아웃</a>
  </div>
</header>
