<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
    />
    <%- include('codeMirrorLink') -%>
  </head>
  <body>
  <header class="header">
    <a href="/">Home</a>
    <a href="/logout">Log out</a>
  </header>
</html>
