<header class="header-wrapper">
  <div class="logo">
    <img class="logo-img" src="/images/codewars.png">
  </div>
  <nav class="page-nav">
    <ul class="page-nav-ul">
      <li class="page-nav-li">
        <a class="home" href="/">Home</a>
      </li>
      <li class="page-nav-li">
        <a class="logout" href="/logout">Logout</a>
      </li>
    </ul>
  </nav>
 
</header>