<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel="stylesheet" href="/stylesheets/index.css" />
  </head>
  <body>
    <header>
      <div class="logo-wrapper">
        <img src="/src/logo.png" alt="logo" class="logo">
        <span>CodeWars</span>
      </div>
      <div class="header-title-wrapper">
        <span>veni, vidi, vici</span>
      </div>
      <div class="logout-wrapper">
        Logout
      </div>
    </header>
    <main>
      <ul class="problems">
        <a href="/problems/1">
          <div class="problem">
            <div class="problem-title">피보나치 수열</div>
            <div class="problem-solved-count">정답자 15명</div>
            <div class="problem-level">난이도: 1</div>
          </div>
        </a>
        <a href="/problems/2">
          <div class="problem">
            <div class="problem-title">서울에서 김서방 찾기</div>
            <div class="problem-solved-count">정답자 11명</div>
            <div class="problem-level">난이도: 2</div>
          </div>
        </div>
        </a>
        <a href="/problems/3">
          <div class="problem">
            <div class="problem-title">수박수박수박수</div>
            <div class="problem-solved-count">정답자 12명</div>
            <div class="problem-level">난이도: 2</div>
          </div>
        </div>
        </a>
        <a href="/problems/4">
          <div class="problem">
            <div class="problem-title">하샤드 수</div>
            <div class="problem-solved-count">정답자 1명</div>
            <div class="problem-level">난이도: 3</div>
          </div>
        </div>
        </a>
      </ul>
    </main>
    <footer>
      <div class="footer-copyright">
        ©2020 Vanilla Coding All rights Reserved
      </div>
    </footer>
  </body>
</html>
