<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>CodeWar</title>
    <link rel='stylesheet' type='text/css' href='/stylesheets/index.css'/>
  </head>
  <body>
    <%- include('./header', { userInfo }) %>
    <div class='problem-container'>
      <% problems.forEach(function(problem, i){ %>
        <%- include('./item',{ problem, i }) %>
      <% }) %>
    </div>
    <%- include ./footer %>
  </body>
</html>
