<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Codewars</h1>
    <h2>코딩 전쟁이 일어난다. 모든 대원들, 전투 준비!</h2>

    <div class="grid-container">
      <% data.forEach(function (data) { %>
      <div class="problem-container">
        <h3><a href="/problem/<%=data.id%>"><%=data.title%></a></h3>
        <div class="problem-detail">
          <div>난이도: <%=data.difficulty_level%></div>
          <div>성공한 사람: <%=data.completed_users || 0%></div>
        </div>
      </div>
      <% }) %>
    </div>
  </body>
</html>
