<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Codewars</h1>
    <a href='/login'>login</a>
    <h2>코딩 전쟁이 일어난다. 모든 대원들, 전투 준비!</h2>

    <ul class="tabs">
      <li>Level 1</li>
      <li>Level 2</li>
      <li>Level 3</li>
    </ul>

    <ul class="problems">
      <% for(var i=0; i < problems.length; i++) { %>
        <li>
          <div>문제 : <%=problems[i].title%></div>
          <div>정답자: <%=problems[i].completed_users%></div>
          <div>난이도: <%=problems[i].difficulty_level%></div>
        </li>
     <% } %>
    </ul>
  </body>
</html>
