<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Codewars</h1>
    <h2>코딩 전쟁이 일어난다. 모든 대원들, 전투 준비!</h2>
    <% if (problems && problems.length) { %>
      <ul class="problems">
        <% problems.forEach((problem) => { %>
          <li>
            <div><%= problem.title %></div>
            <div>정답자: <%= problem.completed_users %></div>
            <div>난이도: <%= problem.difficulty_level %></div>
            <form action="/problems/<%= problem._id %>" method="GET">
              <button type="submit">Start</button>
            </form>
          </li>
        <% }) %>
      </ul>
    <% } %>
  </body>
</html>
