<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('./partials/header') %>
    <div class="title"><%= problems.length %> Kata Found</div>
    <ul class="problems-wrapper">
        <% problems.forEach(problem => { %>
          <li class="problem-wrapper">
            <div class="problem-details">
              <%- include('./partials/problemDetails', { problem: problem }) %>
            </div>
            <div class="problem-lng-logo"> </div>
          </li>
        <% }); %>
      </ul>
  </body>
</html>
