<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
  </head>
  <body>
    <h1>Codewars</h1>
    <h2>코딩 전쟁이 일어난다. 모든 대원들, 전투 준비!</h2>

    <ul class="problems">
      <% problems.forEach(problem => { %>
        <li onclick="location.href='/problems/<%= problem._id %>'">
          <p><%= problem.title %></p>
          <p>문제 레벨: <%= problem.difficulty_level %></p>
          <p>정답자: <%= problem.completed_users %></p>
        </li>
      <%  }) %>
    </ul>
  </body>
</html>
