<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link href='https://fonts.googleapis.com/css?family=Sen&display=swap' rel='stylesheet'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <% include ./header %>
    <section class='problem-list'>
      <% for (const problem of problems) { %>
        <div class='problem' data-id='<%= problem.problemId %>'>
          <h2 class='problem-title'><%= problem.title %></h2>
          <div class='problem-info'>
            <span>Level <%= problem.difficultyLevel %></span>
            <span>|</span>
            <span><%= problem.completedUsers.length %> 명 완료</span>
          </div>
        </div>
      <% } %>
    </section>
    <script src='/javascripts/index.js'></script>
  </body>
</html>
