<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Codewars</h1>
    <h2>코딩 전쟁이 일어난다. 모든 대원들, 전투 준비!</h2>

    <ul class='tabs'>
      <a href='/problems/1'>
        <li>Level 1</li>
      </a>
      <a href='/problems/2'>
        <li>Level 2</li>
      </a>
      <a href='/problems/3'>
        <li>Level 3</li>
      </a>
      <a href='/problems/4'>
        <li>Level 4</li>
      </a>
    </ul>
  </body>
</html>
