<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Codewars</h1>
    <h2>코딩 전쟁이 일어난다. 모든 대원들, 전투 준비!</h2>
    <form action="/" method="GET">
      <button>필터 초기화</button>
    </form>
    <form action="/" method="GET">
      <label for="level">원하는 난이도 선택:</label>
      <select name="difficulty_level">
        <option>1</option>
        <option>2</option>
        <option>3</option>
      </select>
      <button type="submit">GO!</button>
    </form>
    <form action="/" method="GET">
      <label for="level">난이도별 정렬 선택:</label>
      <select name="sort">
        <option>쉬움</option>
        <option>어려움</option>
      </select>
      <button type="submit">GO!</button>
    </form>
    <div class="grid-container">
      <% data.forEach(function (data) { %>
      <div class="problem-container">
        <h3><a href="/problem/<%=data._id%>"><%=data.title%></a></h3>
        <div class="problem-detail">
          <div>난이도: <%=data.difficulty_level%></div>
          <div>성공한 사람: <%=data.completed_users || 0%></div>
        </div>
      </div>
      <% }) %>
    </div>
    <button><a href="login/github/logout"> Log Out</a></button>
    <button><a href="/management">Manager Mode</a></button>
  </body>
</html>
