<%- include('./partials/header'); %>
<h1>Codewars</h1>
<h2>코딩 전쟁이 일어난다. 모든 대원들, 전투 준비!</h2>
<ul class="tabs">
  <li><a href="/">All</a></li>
  <li><a href="/?filter=1">Level 1</a></li>
  <li><a href="/?filter=2">Level 2</a></li>
  <li><a href="/?filter=3">Level 3</a></li>
</ul>
<ul class="problems">
  <% list.forEach((item) => { %>
    <%- include('./partials/card', {
      id: item.id,
      title: item.title,
      completedUsers: item.completed_users,
      level: item.difficulty_level
    }); %>
  <% }) %>
</ul>
<%- include('./partials/footer'); %>
