<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <button type="button" onclick="location.href='/logout'">로그아웃</button>
    <h1>Codewars</h1>
    <ul class="tabs">
        <div>
          <% for (let i = 0; i < length; i++) { %>
            <li onclick="location.href=`/problems/${<%=i%>}`">
              <div><%= allQuestions[i].title %></div>
              <div>난이도: <%= allQuestions[i].difficulty_level %></div>
              <% if (allQuestions[i].completed_users) { %>
                <div>정답자수: <%= allQuestions[i].completed_users %></div>
              <% } else { %>
                <div>정답자: 없습니다다</div>
              <% } %>
            </li>
            <% } %>
        </div>
    </ul>
  </body>
</html>
