<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Codewars</h1>
    <h2>코딩 전쟁이 일어난다. 모든 대원들, 전투 준비!</h2>

    <ul class="tabs">
      <li>Level 1</li>
      <li>Level 2</li>
      <li>Level 3</li>
    </ul>

    <% problems.forEach((problem) => { %>
      <a link href="/problem/<%= problem._id %>">
        <div>title: <%= problem.title %></div>
        <div>complited: <%= problem.complited_users %></div>
        <div>Level: <%= problem.difficulty_level %></div>
      </a>
    <% }) %>
  </body>
</html>
