<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Codewars</h1>
    <h2>코딩 전쟁이 일어난다. 모든 대원들, 전투 준비!</h2>
    <%  problemList.forEach(problem => { %>
      <div class="problem">
        <div><%= problem.title %></div>
        <div>문제 레벨: <%= problem.difficulty_level %></div>
        <div>정답자 수: <%= problem.completed_users %></div>
        <a href="/problem/<%= problem.id %>">문제 풀기</a>
      </div>
    <% }) %>
  </body>
</html>
