<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>CodeWars</title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
  </head>
  <body>
    <% include ./header %>
    <section class="section-problems">
      <ul>
        <% problems.forEach(function(problem){ %>
        <li>
          <a href="/problems/<%= problem._id %>">
            <p class="title"><%= problem.title %></p>
            <p class="level">Level <%= problem.difficulty_level %></p>
            <p class="complete"><%= problem.completed_users %>명 완료</p>
          </a>
        </li>
        <% }) %>
      </ul>
    </section>
  </body>
</html>
