<!DOCTYPE html>
<html>
  <% include ./partials/head %>
  <body>
    <% include ./partials/header %>

    <h2>코딩 전쟁이 일어난다. 모든 대원들, 전투 준비!</h2>

    <ul class="tabs">
      <li>Level 1</li>
      <li>Level 2</li>
      <li>Level 3</li>
    </ul>
    <ul>
      <p>테스트 케이스 :</p>
      <% data.forEach(problem => { %>
      <li>
        <a href="/problem/<%=problem._id%>">
          <div><%=problem.title%></div>
          <div>정답자: <%=problem.completedUsers%>명</div>
          <div>난이도: <%=problem.difficulty%></div>
        </a>
      </li>
      <% }) %>
    </ul>
    <% include ./partials/footer %>
  </body>
</html>
