<!DOCTYPE html>
<html>
  <%- include("head") %>
  <body>
    <div class="container">
      <ul class="nav nav-pills justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="#">Level 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Level 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Level 3</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Log out</a>
        </li>
      </ul>
    </div>
    <div class="container">
      <% data.forEach(function(problem){ %>
        <%- include("components/problem-card.ejs", { problem }) %>
      <% }) %>
    </div>
  </body>
</html>
