<!DOCTYPE html>
<html>

<head>
  <title>Codewars</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <Link rel="stylesheet" href="/stylesheets/index.css" />
  <link rel="stylesheet" href="/stylesheets/problemBlock.css" />
</head>

<body>
  <%- include("partials/header", {loginStatus}) %>

    <main>
      <div class="centerize">
        <div class="galaxy"></div>
        <div class="planet">
          <div class="clouds"></div>
          <div class="land"></div>
        </div>
        <div class="moon"></div>
      </div>

      <% if (user) { %>
        <ul class="problems">
          <% for (const problem of problemData) { %>
            <%- include("partials/problemBlock", {problem}) %>
              <% } %>
        </ul>
        <% } %>
    </main>
</body>

</html>
