<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel="shortcut icon" href="http://www.google.com/s2/favicons?domain_url=http://www.codewars.com">
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('header') %>
    <div class="container home-container">
      <div class="hello">
        <%= user ? `Hello, ${user.displayName}`: '' %>
      </div>
      <div class="shell-container">
        <div class="tabs">
          <div><a href="/">ALL</a></div>
          <div><a href="/1">Level 1</a></div>
          <div><a href="/2">Level 2</a></div>
          <div><a href="/3">Level 3</a></div>
        </div>
        
        <%- include('problems') -%>
      </div>
    </div>
  </body>
</html>
