<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/problems">Problem</a></li>
      </ul>
    </nav>
    <div>Logo</div>
    <a href="/login/google">Google Login</a>

  </body>
</html>
