<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <div class='title'>
      <h1>Codewars</h1>
      <h2>코딩 전쟁이 일어난다. 모든 대원들, 전투 준비!</h2>
    </div>
    <div class='problems-box'>
      <% for(let j = 0; j < problemList.length; j++) { %>
        <a href='problems/<%= problemList[j].id %>'>
          <div class='problem-detail'><%= problemList[j].title %></div>
          <div class='problem-detail'>LEVEL <%= problemList[j].difficulty_level %></div>
          <div class='problem-detail'>정답자 <%= problemList[j].completed_users %></div>
        </a>
      <% } %>
    </div>
  </body>
</html>
