<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <% include ./header %>
    <div class="problems-container">
      <% problems.forEach(problem => { %> 
        <div class="problem">
          <h2 class="problem-title"><%= problem.title %></h2>
          <p class="problem-count"><%= problem.solution_count %>명 완료</p>
          <p class="problem-level">level <%= problem.difficulty_level %></p>
          <a href="/problems/<%= problem._id %>">TRAIN</a>
        </div> 
      <% }) %>
    </div>
  </body>
</html>
