<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Codewars</h1>
    <h2>코딩 전쟁이 일어난다. 모든 대원들, 전투 준비!</h2>
    <button><a href="/logout">logout</a></button>
    <ul class="tabs">
      <li>Level 1</li>
      <li>Level 2</li>
      <li>Level 3</li>
    </ul>

    <ul class="problems">
      <% problems.forEach(function(problem){ %>
        <a href="/problems/<%= problem.id %>">
          <li>
            <div><%= problem.title %></div>
            <div><%= problem.completed_users %></div>
            <div><%= problem.difficulty_level %></div>
          </li>
        </a>
      <% }) %>
    </ul>
  </body>
</html>
