<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li><img src="https://www.softlab.ntua.gr/~nickie/images/logo/codewars.png" width="150px" height="150px"></li>
        <li><a href="/logout" class="logOut">Logout</a></li>
      </ul>
    </nav>
    <main>
      <div>
        <% for (let i = 0; i < problems.length; i++) { %>
          <div class="testBox">
            <ul>
              <li>문제 :<a href="problems/<%= problems[i].id %>"><%= problems[i].title %></a></li>
              <li>완료한 사람: <%= problems[i].completed_users %></li>
              <li>레벨: <%= problems[i].level %></li>
            </ul>
          </div>
        <% } %>
      </div>
    </main>
  </body>
</html>