<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <canvas id="scene"></canvas>
    <main class="title-container">
      <div class="main-title">
        Code wars
      </div>
      <div class="main-title-description">
        Achieve code mastery through chanllange
      </div>
      <div class="auth-button-board">
        <a class="auth-button auth-button-border-1" href="/signin">
          <span class="auth-button-description">Sign Up</span>
        </a>
        <a class="auth-button auth-button-border-1" href="/login">
          <span class="auth-button-description">Log In</span>
        </a>
      </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
    <script type="module" src="/javascripts/index.js"></script>
  </body>
</html>
