<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <header>
      <div class="header-container">
        <h1>Codewars</h1>
        <div class="account-info-box">
          <%= email %>
          <form action="/logout?_method=DELETE" method="POST">
            <button class="logout-button" type="submit">Log out</button>
          </form>
        </div>
      </div>
    </header>
    <h2 class="problems-title">Problems</h2>
    <ul class="problems">
      <%  for (const problem of problems) { %>
        <li>
          <h3 class="problem-title"><%=problem.title %></h3>
          <div>정답자 : <%=problem.completed_users%>명</div>
          <div>난이도 : Level <%=problem.difficulty_level%></div>
        </li>
      <%  } %>
    </ul>
  </body>
</html>
