<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/css/index.css' />
  </head>
  <body>
    <h1>Codewars</h1>

    <div class="container">
      <h2>코딩 전쟁이 일어난다. 모든 대원들, 전투 준비!</h2>

      <div class="problems-wrapper">
        <ul class="tabs">
          <li>Level 1</li>
          <li>Level 2</li>
          <li>Level 3</li>
        </ul>

        <ul class="problems">
          <% for( let i = 0; i < problems.length; i++ ) { %>
            <a href="problems/<%= problems[i].id %>">
              <div class="problem">
                <h3>
                  Level <%= problems[i].difficulty_level %>
                  - <%= problems[i].title %>
                </h3>
                <li><%= problems[i].completed_users %>명이 정답을 맞춘 문제입니다.</li>
              </div>
            </a>
          <% } %>
        </ul>
      </div>
    </div>
  </body>
</html>
