<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="background">
      <div class="header">
        <h1>코딩 전쟁이 일어난다. 모든 대원들, 전투 준비!</h1>
        <form method="POST" action="/logout">
          <button>Log out</button>
        </form>
      </div>
      <form method="GET" action="/"></form>
      <% problems.forEach((cur, index) => {%>
        <div class="wrap-problem">
          <a href=/problems/<%= cur._id%>>
            <h1><%= cur.title %></h1>
          </a>
          <% if (!cur.completed_users) { %>
            <h2>Correct 0</h2>
          <% } else { %>
            <h2>Correct <%= cur.completed_users %></h2>
          <% } %>
          <h2>Level <%= cur.difficulty_level %></h2>
        </div>
      <%})%>
    </div>
  </body>
</html>
