<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <canvas id="scene"></canvas>
    <h2><a href='/signIn'>sign in</a>  <a href='/logIn'>log in</a></h2>
    <script type="module" src="/javascripts/index.js"></script>
  </body>
</html>
