<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <%-include("title"); %>
   <%-include("menu"); %>
    <ul id="problems">
      <% for (let i = 0; i < allTitle.length; i++) { %>
        <% const address =`/problems/${allTitle[i].id}`%>
        <a href=<%=address %>>
          <li id="problem"><%= allTitle[i].title %></li>
        </a>
      <% } %>
    </ul>
  </body>
</html>
