<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <canvas id="scene"></canvas>
    <div class="title-container">
      <div class="main-title">
        Code wars
      </div>
      <div class="main-description">
        Achieve code mastery through chanllange
      </div>
      <div class="auth-button">
          <a class="btn btn-border-1" href="/signIn">
            <span class="btn-description">Sign Up</span>
          </a>
          <a class="btn btn-border-1" href="/logIn">
            <span class="btn-description">Log In</span>
          </a>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
    <script type="module" src="/javascripts/index.js"></script>
  </body>
</html>
