<%# views/index.ejs %>
<% extend('layout') %>
<% include ./header %>

<main class='main'>
  <h2>코딩 전쟁이 일어난다. 모든 대원들, 전투 준비! 🔫🔫🔫</h2>
  <ul>
    <% problems.forEach((problem) => { %>
      <a href='/problems/<%= problem.id %>'>
        <li class='problem-container'>
          <h3 class='problem-title'><%= problem.title %></h3>
          <div class='problem-sub-info'>
            <div class='level'>🎖Level <%= problem.difficulty_level %></div>
            <div class='completed-user'>
              <span>🙆‍♀️Completed Users</span>
              <span><%= problem.completed_users.length %></span>
            </div>
          </div>
        </li>
      </a>
    <% }) %>
  </ul>
</main>
