<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
    <link rel="stylesheet" href="/stylesheets/main.css" >
  </head>
  <body>
    <% include ./partials/header %>

    <div class="grid-container">
      <% for (let i = 0; i < data.length; i++) { %>
        <div class="grid-box">
          <form action="/problems/<%= data[i].id %>" method="GET">
            <button type="submit">
              <h1><%= `${data[i].title}` %></h1>
              <h2><%= `레벨: ${data[i].difficulty_level}` %></h2>
              <h3><%= `완료한 유저수: ${data[i].completed_users}` %></h3>
            </button>
          </form>
        </div>
      <% } %>
    </div>

    <% include ./partials/footer %>
  </body>
</html>
