<%# views/index.ejs %>
<% extend('layout') %>

<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Codewars</h1>
    <h2>코딩 전쟁이 일어난다. 모든 대원들, 전투 준비!</h2>

    <ul>
      <% problems.forEach((problem) => { %>
        <a href='/problems/<%= problem.id %>'>
          <li class='problem-container'>
            <div>Question <%= problem.title %></div>
            <div>Completed Users <%= problem.completed_users %></div>
            <div>Level <%= problem.difficulty_level %></div>
          </li>
        </a>
      <% }) %>
    </ul>
  </body>
</html>
