<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <div class="index-container">
      <nav class="index-nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/problems">Problem</a></li>
        </ul>
      </nav>
      <section class="index-section">
        <img src="/images/logo.png" alt="Logo">
        <h1>Codewars</h1>
        <a class="login-btn" href="/login/google">Google Login</a>
      </section>
    </div>
  </body>
</html>
