<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel="stylesheet" href="/stylesheets/index.css" />
  </head>
  <body>
    <header>
      <div class="logo-wrapper">
        <img src="/src/logo.png" alt="logo" class="logo">
        <span>CodeWars</span>
      </div>
      <div class="header-title-wrapper">
        <span>veni, vidi, vici</span>
      </div>
      <a href="/logout">
        <div class="logout-wrapper">
          Logout
        </div>
      </a>
    </header>
    <main>
      <ul class="problems">
        <% for (let i = 0; i < tests.length; i ++) { %>
          <a href="/problems/<%= tests[i]._id %>">
            <div class="problem">
              <div class="problem-title"><%= tests[i].title %></div>
              <div class="problem-solved-count">정답자: <%= tests[i].completed_users %>명</div>
              <div class="problem-level">난이도: <%= tests[i].difficulty_level %></div>
            </div>
          </a>
        <% } %>
      </ul>
    </main>
    <footer>
      <div class="footer-copyright">
        ©2020 Vanilla Coding All rights Reserved
      </div>
    </footer>
  </body>
</html>
