<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Codewars</h1>
    <h2>코딩 전쟁이 일어난다. 모든 대원들, 전투 준비!</h2>

    <ul class="problems">
      <% problems.forEach(problem => { %>
        <li>
          <p><%= problem.title %></p>
          <p>문제 레벨: <%= problem.difficulty_level %></p>
          <p>정답자: <%= problem.completed_users %></p>
          <p>설명: <%= problem.description %></p>
        </li>
      <%  }) %>
    </ul>
    <button onclick="location.href='/login'">로그인</button>
  </body>
</html>
