<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Codewars</h1>
    <h2>코딩 전쟁이 일어난다. 모든 대원들, 전투 준비!</h2>
    <ul class="problems">
      <% for(var item of items){ %>
        <li>
          <a href='/problem/<%= item.id %>'>
            title <%= item.title %>
            level <%= item.difficulty_level %>
            <%= item.completed_users %> people completed
          </a>
        </li>
    <% } %>
    </ul>
  </body>
</html>
