<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR|Roboto&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <header class="header">
      <div class="logo-wrapper">
        <a href="/">
          <img class="header-logo" src="/img/logo.png"/>
        </a>
      </div>
      <div class="login-wrapper">
          <p><strong> <%= username %></strong> 님 안녕하세요!</p>
          <a class="logout" href="/logout">로그아웃</a>
      </div>
    </header>
    <div class="content-wrapper">
      <div class="content">
          <h2>코딩 전쟁이 일어난다. 모든 대원들, 전투 준비!</h2>
          <%- include('levelList') %>
         <%- include('problem') %>

      </div>
      <div class="content-info content-level<%=level%>">
      </div>
    </div>
  </body>
</html>
