<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Codewars</h1>
    <h2>코딩 전쟁이 일어난다. 모든 대원들, 전투 준비!</h2>
    <div class='management'>
      <h2>초기화가 완료 되었습니다.</h2>
      <button><a href="/management">돌아가기</a></button>
    </div>
  </body>
</html>
