<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('partials/header') %>

    <h1>JOIN</h1>

    <%- include('partials/footer') %>
  </body>
</html>
