<div>
  <form action="/join" method="POST">
    <input type="email" name="Email" placeholder="email" required=true>
    <input type="text" name="Name" placeholder="name" required=true>
    <input type="password" name="Password" placeholder="password" required=true>
    <button>Join</button>
  </form>
</div>
