<h1>Join</h1>

<form method="post" action="/join">
  <p>
    <label>Username:</label>
    <input type="text" name="username" required>
  </p>
  <p>
    <label>email:</label>
    <input type="email" name="email" required>
  </p>
  <p>
    <label>Password:</label>
    <input type="password" name="password" required>
  </p>
  <p>
    <label>confirmPassword:</label>
    <input type="password" name="confirmPassword" required>
  </p>
  <p>
    <input type="submit" value="join">
  </p>
  <a href="/login/github">Sign On with Github</a>
</form>
