<div class="page-wrapper">
  <div class="join">
    <div class="join-form">
      <img class="logo" src="/logo.png" />
      <h1><%= title %></h1>

      <form method="post" action="/join">
        <p>
          <input 
            class="join-input" 
            type="text" 
            name="username" 
            placeholder="&#xf1d8; Username" 
            required
          >
        </p>
        <p>
          <input
            class="join-input" 
            type="email" 
            name="email" 
            placeholder="&#xf0e0; email" 
            required
          >
        </p>
        <p>
          <input 
            class="join-input" 
            type="password" 
            name="password" 
            placeholder="&#xf084; Password" 
            required
          >
        </p>
        <p>
          <input 
            class="join-input" 
            type="password" 
            name="confirmPassword" 
            placeholder="&#xf084; confirmPassword" 
            required
          >
        </p>
        <p class="join-button">
          <input class="join-submit" type="submit" value="joins">
        </p>
        <p class="github-button">
          <a href="/login/github">
            Sign In with Github
            <i class="fab fa-github"></i>
          </a>
        </p>
      </form>
    </div>
  </div>
</div>
