extends layouts/main

block body
  link(rel='stylesheet' href='/stylesheets/login.css')
  .loginWindow
    h1 Sign Up!
    form(action="/login" method="POST" class="form")
      .form__text
        label.form__title Email
        .form__input
          input.form-control(type="email" name="email" placeholder="123456@mail.com")
      .form__text
        label.form__title Password
        .form__input
          input.form-control(type="password" name="password" placeholder="Password")
      .form__text
        label.form__title Name
        .form__input
          input.form-control(type="text" name="name" placeholder="Password")
      button.btn.btn-primary#submitButton(type="submit") Sign Up
