<form class="join-form" action="/join" method="POST">
    <div class="form-control">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" required>
    </div>
    <div class="form-control">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" required>
    </div>
    <div class="form-control">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required>
    </div>
    <div class="form-control">
      <label for="confirmPassword">Confirm PW</label>
      <input type="password" name="confirmPassword" id="confirmPassword" required>
    </div>
    <div class="buttons">
      <%- include('partials/github') %>
      <button class="submit-button" type="submit">Join</button>
    </div>
</form>

<%- contentFor('styles') %>
<link rel='stylesheet' href='/stylesheets/form.css' />