<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <script src="https://kit.fontawesome.com/695b2b2137.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Sans+KR&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header class="header">
      <a href="/" class="title"><div>Codewars</div></a>
      <a href="/login" class="login-button">Login</a>
    </header>
    <div class="container">
      <%- body %>
    </div>
  </body>
</html>
