<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.6.0/codemirror.min.css" />
    <link rel="stylesheet" href="https://codemirror.net/theme/base16-light.css" />
    <script src="https://kit.fontawesome.com/112b878a37.js" crossorigin="anonymous"></script>
    <title>Code Wars</title>
  </head>
  <body>
    <header class="header">
      <div class="header-column">
        <a href="/">
          <img class="logo" src="/imgs/logo.ico" alt="logo" />
        </a>
      </div>
      <div class="title_wrapper">
        <div class="text">
          <div class="text--backing">Code_Wars</div>
          <div class="text--left">
            <div class="inner">Code_Wars</div>
          </div>
          <div class="text--right">
            <div class="inner">Code_Wars</div>
          </div>
        </div>
      </div>
      <div class="user-info">
        <% if (user.isAdmin) {%>
          <a href="/problem/create"><button class="problem-create-btn">Add Problem</button></a>
        <% } %>
        <form class="user-info-form header-column" action="/logout" method="POST">
          <% if (user.name) {%>
            <h3>Hello, <span class="user-name"><%= user.name %></span></h3>
            <button class="logout-btn" type="submit">logout</button>
          <% } %>
        </form>
      </div>
    </header>

    <div class="container"><%- body %></div>

    <footer class="footer">
      <p>
        &copy; hychoi &middot; <a href="#">Vanilla Coding</a> &middot;
        <a href="https://ha-young.github.io/">Blog</a>
      </p>
    </footer>
  </body>
</html>
