<%# views/layout.ejs %>

<!DOCTYPE html>
<html>
<head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href='/lib/codemirror.css' />
    <link rel="stylesheet" href='/theme/material-darker.css' />
</head>
<body>
    <%- content %>
</body>
</html>
