<!DOCTYPE html>
<html>
  <head>
    <title>⚔Codewars⚔</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <%- defineContent('styles') %>
  </head>
  <body>
    <%- include('partials/header') %>
    <%- body %>
    <%- include('partials/footer') %>
  </body>
</html>
