<%# views/layout.ejs %>

<!DOCTYPE html>
<html>

<head>
  <title>Codewars</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href='/lib/codemirror.css' />
  <link rel="stylesheet" href='/theme/material-darker.css' />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet" />
</head>

<body>
  <%- content %>
</body>

</html>
