<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/codemirror.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/theme/monokai.min.css" />
  </head>
  <body>
    <header class="header">
      <nav>
        <a href="/">Home</a>
        <a href="/signup">Sign Up</a>
        <a href="/signin">Sign In</a>
      </nav>
    </header>
    <section class="main">
      <%- body %>
    </section>
    <section class="footer">
    </section>
    <%- script %>
  </body>
</html>
