<%# views/layout.ejs %>

<!DOCTYPE html>
<html>

<head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href='/lib/codemirror.css' />
    <link rel="stylesheet" href='/theme/material-darker.css' />
    <script defer src="/lib/codemirror.js"></script>
    <script defer src="/mode/javascript/javascript.js"></script>
    <script defer src='/javascripts/index.js''></script>
</head>
<body>
    <%- content %>
</body>
</html>
