<%# views/layout.ejs %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/constants.css' />
    <link rel='stylesheet' href='/codemirror/lib/codemirror.css' />
    <link rel='stylesheet' href='/codemirror/mode/3024-night.css' />
  </head>
  <body>
    <%- content %>
  </body>
</html>
