<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body>
    <form method="POST" action="/users/login/check">
      <fieldset>
        <legend>LOGIN</legend>
        <div class="form-box">
          <label for="userId">ID</label>
          <input name="userId" id="userId" type="text" required/>
        </div>
        <div class="form-box">
          <label>PASSWORD</label>
          <input name="userPassword" id="userPassword" type="password" required />
        </div>
      </fieldset>
      <ul class="button-list">
        <li><input class="button" type="submit" value="SIGN IN" /></li>
        <li><a class="button" href="/users/signup">CREATE ACCOUNT</a></li>
      </ul>
    </form>
  </body>
</html>
