<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="login-container">
      <h1 id="app-title">Codewars</h1>
      <button
        id="login"
        onclick="location.href='/login/auth/google'">
      Sign In with Google
      </button>
    </div>
  </body>
</html>
