<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
  </head>
  <body>
    <h3>로그인페이지</h3>
    <form action="/login/google">
      <input type="submit" value="Google login">
    </form>
  </body>
</html>
