<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/css/login.css">
  <title>Document</title>
</head>
<body>
  <section class="login-container">
    <h1>Login to Codewars!</h1>
    <a href="/auth/login/github">login with Github</a>
  </section>
</body>
</html>
