<!DOCTYPE html>
<html>
  <head>
    <title>바닐라코딩 프로그래머스</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="login">
      <div class="header">
        <span>코딩 전쟁이 일어난다. 모든 대원들, 전투 준비!</span>
      </div>
      <div class="login-body">
        <span class="login-body-title">로그인</span>
        <a href="/login/github">
          <div class="login-box">
            <img
              class="login-github-img"
              src="http://www.coinreaders.com/imgdata/coinreaders_com/201806/2018060416585043.png"
            />
            <span>Github으로 계속하기</span>
          </div>
        </a>
      </div>
    </div>
  </body>
</html>
