<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('header') %>
    <div>login page</div>
    <div>
      <a href="">github login</a>
    </div>
  </body>
</html>
