<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <form action='/login/github' method='GET'>
      <button type="submit">GITHUB LOGIN</button>
    </form>
  </body>
</html>
