<!DOCTYPE html>
<html>

<head>
  <title>Codewars</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <%- include('partials/header', {loginStatus}) %>

    <main>
      <form action="/auth/login" method="post">
        <div>
          <%= title %>
        </div>
        <div>
          <%= message %>
        </div>
        <div>
          <label>email:</label>
          <input type="email" name="email" maxlength="50" minlength="5" required />
        </div>
        <div>
          <label>Password:</label>
          <input type="password" name="password" maxlength="50" minlength="8" required />
        </div>
        <div>
          <input type="submit" value="Log In" />
        </div>
      </form>
    </main>
</body>

</html>
