<!DOCTYPE html>
<html lang="en">
<head>
  <title>codeWars</title>
  <link rel="stylesheet" href="/stylesheets/login.css" />
</head>
<body>
  <div class="titleWrapper">
    <h1 class="title">CODE WARZ</h1>
  </div>
  <div class="loginWrapper">
    <div class="buttonWrapper">
      <a href="/auth/google">
        <button>sign in with google</button>
      </a>
    </div>
    <video width="100%" height="100%" autoplay muted>
      <source src="src/videoplayback.mp4" type="video/mp4"/>
    </video>
  </div>
</body>
</html>
