<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Codewars</h1>
    <h2>코딩 전쟁이 일어난다. 모든 대원들, 전투 준비!</h2>
    <button>
      <a
        href="https://github.com/login/oauth/authorize?client_id=<%=id%>&state=${process.env.STATUS}"
      >
        Loign with Git Hub
      </a>
    </button>
  </body>
</html>
