<h1>로그인</h1>
<form action='/login' method='POST'>
  <div>
    <label for='email'>EMAIL:</label>
    <input type='email' id='email' name='email' required/>
  </div>
  <div>
    <label for='password'>PASSWORD:</label>
    <input type='password' id='password' name='password' required/>
  </div>
  <button type='submit'>로그인</button>
</form>
<button id='githubLoginButton'>깃헙 계정으로 로그인</button></br></br>
<!-- <a href='/login/github'>깃헙 계정으로 로그인</a> -->
<a href='/sign-up'>가입</a>
<script src='/javascripts/client.js'></script>
