<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div className="login-container">
      <form
        class="login-form"
        action="/login/auth/github"
        method="GET"
      >
        <h1>Login</h1>
        <div class="txtb">
          <input type="text" name="id" />
          <span data-placeholder="Username"></span>
        </div>

        <div class="txtb">
          <input type="password" name="pw" />
          <span data-placeholder="Password"></span>
        </div>

        <input type="submit" class="logbtn" value="Login" />

        <div class="bottom-text">
          Don't have account? <a href="/signup">Sign up</a>
        </div>
      </form>
      <button><a href="/login/github">github</a></button>
    </div>
  </body>
</html>
