<!DOCTYPE html>
<html>
  <head>
    <title><%=title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Codewars</h1>
    <h2>LOGIN</h2>
    <Form>
      <input type="text" class="id">
    </Form>
  </body>
</html>
