<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/login.css">
  <title>Document</title>
</head>
<body>
  <div class="login-top">
    <img class="image-1" src="/image/login-1.webp" alt="img1">
    <img class="image-2" src="/image/login-2.webp" alt="img2">
    <h1 class="title">
      codewars
    </h1>
  </div>
  <div class="login-bottom">
    <p>
      Founder & Lead Instructor
      A person with a white beard growing up.
      I am a developer from a non-major,
      and I am a first-generation bootcamp graduate.
      Based on my experience and knowledge,
      I live for those who walk the same path as me.
      As Einstein said, I want to be with those who learn from yesterday
      and are always curious and moving forward. He is Ken Huh.
    </p>
    <a href="/login/google" class="social-login github">
      Sign in with GitHub
    </a>
  </div>
</body>
</html>
