<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body>
    <form>
      <fieldset>
        <legend>LOGIN</legend>
        <div class="form-box">
          <label for="id">ID</label>
          <input name="id" id="id" type="text" />
        </div>
        <div class="form-box">
          <label>PASSWORD</label>
          <input name="password" id="password" type="password" />
        </div>
      </fieldset>
    </form>
    <div class="button-list">
      <button class="button" type="button">SIGN IN</button>
      <button class="button" type="button">CREATE ACCOUNT</button>
    </div>
  </body>
</html>
