<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>LOGIN</title>
    <link rel='stylesheet' type='text/css' href='/stylesheets/login.css'/>
  </head>
  <body>
    <div class='login-container'>
      <div>
        <img src='/img/logo.png' alt='code-war'>
      </div>
      <div>
        <p>Welcome! Please login with&nbsp;&nbsp;<a href='/login/github'>github.</a></p>
      </div>
    </div>
  </body>
</html>
