<!DOCTYPE html>
<html>
  <head>
    <title>Codewars | Login</title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body>
    <div class="background">
      <div class="wrap-login-box">
        <form method="POST" action="/login/auth/github">
          <input class="github-login-button" type="submit" value="Github Login">
        </form>
      </div>
    </div>
  </body>
</html>
