<div class="login-container">
  <div class="logo-box">
    <img src="image/logo-big.png" alt="logo">
  </div>
  <button class="sign-github">
    <a href="/login/google">Sign in with GitHub</a>
  </button>
</div>
