<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Codewars</h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
    <h2>로그인을 선택하세요.</h2>
    <ul>
      <li><a href="/login/google">Google</a></li>
      <li><a href="/login/github">Github</a></li>
    </ul>
  </body>
</html>
