<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="stylesheets/style.css" />
  </head>
  <body>
    <h1>Codewars</h1>
    <h2><%= title %></h2>
    <a class="githubLoginBtn" href="/auth/github" >github 로그인</a>
  </body>
</html>
