<!DOCTYPE html>
<html>

<head>
  <title>login</title>
  <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
</head>

<body>
  <nav>
    <ul>
      <!-- <li><a href="/auth/logout">logout</a></li> -->
      <!-- <li><a href="/auth">login</a></li> -->
      <!-- <li><a href="/">home</a></li> -->
    </ul>
  </nav>
  <header>
    <h1>로그인</h1>
  </header>
  <main>
    <a class="github-button" href="/auth/github">github</a>
  </main>
</body>
</html>
