<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body>
    <form action='/auth/github' method='get' id='login'>
      <input type='submit' value='GITHUB LOGIN' />
    </form>
  </body>
</html>
