<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include("title")%>
    <button onclick="location.href='/login/auth/google'">Sign In with Google</button>
  </body>
</html>
