extends layouts/main

block body
  link(rel='stylesheet' href='/stylesheets/login.css')
  .loginWindow
    h1 Sign In!
    form(action="/login" method="POST" class="form")
      .form__text
        label.form__title Email
        .form__input
          input(type="email" name="email" class="form-control" id="floatingInput" placeholder="123456@mail.com")
      .form__text
        label.form__title Password
        .form__input
          input(type="password" name="password" class="form-control" placeholder="Password")
      button.btn.btn-primary#submitButton(type="submit") Sign In
      a.btn.btn-outline-primary(href="/join") Sign Up
      a.btn.btn-primary(href="/login/google") Google
