<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Log in</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body>
    <div class="login-container">
      <h1 class="login-title">Log in</h1>
      <form action="" class="login-form">
        <label>Email</label>
        <input
          class="input-user-email"
          type="text"
          name="user-email"
        >
        <label>Password</label>
        <input
          class="input-user-password"
          type="password"
          name="user-password"
        >
        <button
          class="create-account-button"
          type="button"
          onclick="location.href='/create_account'"
        >Create account</button>
        <button class="login-button" type="submit">Log in</button>
      </form>
    </div>
  </body>
</html>