html
  head
    title Document
    meta(charset='utf-8')
    link(
      rel='stylesheet'
      href='/stylesheets/style.css'
    )
  body
    div.app
        div.header
          h1 로그인 후 이용해주세요
        div.container
          img.avatar(src="/image/avatar.png", alt="login")
          form(action='/login/github', method='POST')
            input.largeButton(type='submit' value='with GitHub')
