<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h3>Google Login</h3>
    <form action="/login/google" method="GET">
      <button type="submit">Login with Google</button>
    </form>
  </body>
</html>
