<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
  <div class="login-container">
    <span id="logo-title">Codewars</span>
    <div class="login-button-container">
      <a href="/login/github">
        <button id="github-login" class="login-button">
          <i class="fab fa-github"></i>
          <span>Sign In with GitHub</span>
        </button>
      </a>
      <a href="/login/google">
        <button id="google-login" class="login-button">
          <i class="fab fa-google"></i>
          <span>Sign In with Google</span>
        </button>
      </a>
    </div>
  </div>
</body>
</html>