<% include ./partial/head %>
<div className="login-container">
  <div class="login-form">
    <h1><img src="https://image.flaticon.com/icons/svg/25/25231.svg"></img>Git-Hub Login</h1>
    <a class="login-btn" href="/login/github">Log-in</a>
  </div>
</div>
