<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="login-wapper">
      <div class="login-logo"> </div>
      <div class="login-codewars">codewars</div>
      <div class="login-github-wrapper">
        <a href="/auth/github" class="login-github">Login with GitHub</a>
      </div>
      <div class="login-github-wrapper">
        <a href="/auth/google" class="login-github">Login with Google+</a>
      </div>
    </div>
  </body>
</html>
