<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Login</h1>
    <form action="/login/github" method="GET">
      <button class="login-button" type="submit">GitHub</button>
    </form>
  </body>
</html>
