<div class="login">
  <form class="login-form" action="/auth/login" method="POST">
    <img class="login-logo" src="/img/logo.png" alt="codewars-logo" />
    <h1 class="login-header">Codewars</h1>
    <h3 class="login-description">Make your KATA</h3>
    <input class="login-btn-github" type="submit" value="Login with GitHub" />
  </form>
</div>
