<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Log in</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body>
    <div class="login-container">
      <h1 class="login-title">Log in</h1>
      <form action="" method="POST" class="login-form">
        <label>Email</label>
        <input
          class="input-user-email"
          type="email"
          name="email"
          autocomplete="username"
          required
        >
        <label>Password</label>
        <input
          class="input-user-password"
          type="password"
          name="password"
          autocomplete="current-password"
          required
        >

        <div class="message-box">
          <p class="message">
            <% if (messages.error) { %>
              <%= messages.error %>
            <% } %>
          </p>
        </div>

        <button
          class="create-account-link-button"
          type="button"
          onclick="location.href = '/create_account';"
        >
          Create account
        </button>
        <button class="login-button" type="submit">Log in</button>
      </form>
    </div>
  </body>
</html>