<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li><img src="https://www.softlab.ntua.gr/~nickie/images/logo/codewars.png" width="150px" height="150px"></li>
        <% if(hasLoggedIn){ %>
          <li><a href="/logout">Logout</a></li>
        <% } else { %>  
          <li><a href="/login" class="logIn">Login</a></li>
       <% } %>
      </ul>
    </nav>
    <main>
      <p>Log in with</p>
      <a href="/login/github"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQbQZeWXJNtBdDyGMZVCbCo8CTOzhxQzD86YnnT2OFlFA_0mMUP"></a>
    </main>
  </body>
</html>
