<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Code-Wars-Login</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <nav>
      <ul>
        <% if (user) { %>
        <li><a href='/logout'>Logout</a></li>
        <li><a href='/'>Homepage</a></li>
        <li><a href='/profile'>Profile</a></li>
        <% } else { %>
        <li><a href='/login'>Login</a></li>
        <% } %>
      </ul>
    </nav>
    <% if (user) { %>
    <header>
      <h1>You are already Logged in.</h1>
    </header>
    <% } else { %>
    <header>
      <h1>Login with Google only!!</h1>
      <h2>Press the Button below.</h2>
    </header>
    <main>
      <a class='google-btn' href='/auth/google'>Google+</a>
      <p>
        <img src='https://images.unsplash.com/photo-1541846476-153596ce1e61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2734&q=80' height='500px' />
      </p>
    </main>
    <% } %>
  </body>
</html>
