<form class="login-form" action="/login" method="POST">
  <div class="form-control">
    <label for="email">Email</label>
    <input type="email" name="email" id="email">
  </div>
  <div class="form-control">
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
  </div>
  <div class="buttons">
    <%- include('partials/github') %>
    <button class="submit-button" type="submit">Login</button>
  </div>
</form>

<%- contentFor('styles') %>
<link rel='stylesheet' href='/stylesheets/form.css' />
