<!DOCTYPE html>
<html>
  <head>
    <title>Codewars/login</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
  </head>
  <body>
    <h1>Codewars</h1>
    <h2>login main</h2>
    <button><a href="/login/github">Git Hub LOGIN</a></button>
  </body>
</html>
