<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Ubuntu&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="login-box">
      <h1 class="login-title">Codewars</h1>
      <button class="login-google" onClick="location.href='/auth/google'">Login with google >>></button>
     </div>
  </body>
</html>
