<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link href='https://fonts.googleapis.com/css?family=Sen&display=swap' rel='stylesheet'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body>
    <section class='login-section'>
      <img src='/assets/codewars.png' alt='codewars' class='login-logo'>
      <div class='login'>
        <img src='/assets/github.png' alt='github' class='github-logo'>
        <a href='/login/github'>Github Login</a>
      </div>
    </section>
  </body>
</html>
