<!DOCTYPE html>
<html>

<head>
  <title>login</title>
  <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
</head>

<body>
  <%- include('partials/header') %>

  <div>
    <h3>github으로 로그인</h3>
    <a class="github-button" href="/auth/github">github</a>
  </div>
</body>

</html>
