<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include("partials/head") %>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body>
    <div class="login-container">
      <h1>
        <a href="/login/google">Login</a>&nbsp;with Google
      </h1>
    </div>
  </body>
</html>
