<!DOCTYPE html>
<html>

<head>
  <title>Codewars</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/login.css' />
</head>

<body>
  <div class='login'>
    <img src='https://www.codewars.com/assets/logos/logo-square-red-big-c74ae0e7a89b33acd3beb1f08229630391934650e3bbd30ddc40e8be5bbfc71e.png'>

    <a href='/login/github' class='button-red login-button'>
      <img src='https://www.sferalabs.cc/wp-content/uploads/github-logo-white.png'>
      <h3>Sign in to GitHub</h3>
    </a>

  </div>
</body>

</html>
