<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
  <link rel="stylesheet" href="stylesheets/style.css" />
</head>

<body>
  <img class="codewarseImg" src="codewars.png">
  <h2><%= title %></h2>
  <a class="githubLoginBtn" href="/auth/github">github 로그인</a>
</body>

</html>
