<%- include('header') -%>
<div class="login__wrap">
  <form class="submit__login" action="/auth/github" method="get">
    <h1 class="text__login">CODE WARZ</h1>
    <button class="button__login" type="submit">
      <i class="fab fa-github-square">깃허브로 로그인 하기</i>
    </button>
  </form>
  <div></div>
  <%- include('footer') -%>
</div>
