<%- include('header') -%>
<div class="login__wrap">
  <form class="submit__login" action="/auth/github" method="get">
    <h1 class="text__login">CODE WARZ</h1>
    <button class="button__login" type="submit">
      <i class="fab fa-github-square">LOGIN</i>
    </button>
  </form>
</div>
<%- include('battleScript') -%>
<%- include('failureScript') -%>
<%- include('footer') -%>