<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/login.css'/>
  </head>
  <body>
    <div class='login_container'>
      <h1></h1>
        <p id='login_headline'>
          // Welcome back, warrior.<br/>
          // Sign in to take part in the Code War.
        </p>
        <div id='login_github_container'>
          <form action='/login/github' method='GET'>
            <button class='login_button' type='submit'>
              <span class='yellow_text'>signIn</span>
              (
              <img id='github_logo_image' src='/images/github_logo.png'/>
              <span class='light_blue_text'>GitHub</span>
              );
            </button>
          </form>
        </div>
    </div>
  </body>
</html>
