<h1><%= title %></h1>

<form action="/login/auth/tokens" method="POST">
  <h2>Let's log in!</h2>

  <div class="email">
    <label for="email">email</label>
    <input name="email" />
  </div>

  <div class="password">
    <label for="password">password</label>
    <input name="password" />
  </div> 

  <button type="submit">Submit</button>
</form>
