<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>CodeWars</title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
  </head>
  <body>
    <section class="section-login">
      <img
        class="logo"
        src="https://www.co.midland.tx.us/ImageRepository/Document?documentId=1230"
        alt="codewars"
      />
      <div>
        <p class="title">로그인</p>
        <p>서비스를 사용하시려면 로그인이 필요합니다.</p>
      </div>
      <div class="login">
        <a class="btn-login-google" href="/login/google">Login with Google</a>
      </div>
    </section>
  </body>
</html>
