<div class="login-container">
  <div class="logo-box">
    <img src="image/logo-big.png" alt="logo">
  </div>
  <a href="/login/google" class="social-login github">
    Sign in with GitHub
  </a>
</div>
