<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
    <link rel="stylesheet" href="/stylesheets/login.css" />
  </head>
  <body>
    <div class="login-page">
      <section class="main-title-container">
        <h1 class="main-title">VANILLALGO</h1>
      </section>
      <section class="login-container">
        <h1 class="login-title">
          LOGIN
          <span class="login-error">
            <% if (messages.error) {%> <%= messages.error %> <% } %>
          </span>
        </h1>
        <form class="login-form" action="/login" method="POST">
          <div class="login-input-container">
            <div class="login-input">
              <input
                class="login-input_email"
                type="email"
                id="email"
                name="email"
                placeholder="Enter Email"
                required
              />
            </div>
            <div class="login-input">
              <input
                class="login-input_password"
                type="password"
                id="password"
                name="password"
                placeholder="Enter Password"
                required
              />
            </div>
          </div>
          <div class="login-form_button-container">
            <button class="login-button" type="submit">Log In</button>
            <button class="register-button" onClick="location.href='/register'">
              Register
            </button>
          </div>
        </form>
      </section>
    </div>
    <video autoplay muted loop class="login-background">
      <source src="/images/loginBackground.mp4" type="video/mp4" />
    </video>
  </body>
</html>
