<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>vaco codewars login</title>
</head>
<body>
  <button class="login button">Github Login</button>
  <script src="/javascripts/login.js"></script>
</body>
</html>
