<div class="login-container">
  <div class="logo-box">
    <img src="image/logo-big.png" alt="logo">
  </div>
  <button class="sign-github">
    <a href="/auth/google">Sign in with GitHub</a>
  </button>
  <form method="POST">
    <div>
      <input class="email" placeholder="email" name="id"></input>
      <input class="password" placeholder="password" name="password"></input>
    </div>
    <div>
      <button class="sign-button">Sign in</button>
    </div>
  </form>
</div>
