<!DOCTYPE html>
  <html>
    <head>
      <link rel="stylesheet" href="/stylesheets/login.css">
    </head>
    <body>
      <div class="form-container">
        <img src="https://www.codewars.com/assets/logos/logo-square-red-big-c74ae0e7a89b33acd3beb1f08229630391934650e3bbd30ddc40e8be5bbfc71e.png" alt="codewars">
        <form class="login-form" action="http://localhost:3000/login/auth/github" method="GET">
          <button typy="submit">GitHub Log In</button>
        </form>
      </div>
    </body>
  </html>
  
