<div class="login-container">
  <div class="login-box">
    <a href="/auth/github">
      <div class="github-login-button"><i class="fab fa-github"></i>Continue with Github</div>
    </a>
  </div>
</div>
