<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/public/stylesheets/login.css' />
  <title>Login</title>
</head>

<body>
  <div class='signin-module'>
    <img class="logo-square"
      src="https://www.codewars.com/assets/logos/logo-square-red-big-c74ae0e7a89b33acd3beb1f08229630391934650e3bbd30ddc40e8be5bbfc71e.png"
      alt="codewars_logo">
    <div class='login-method'>
      <a class='google-btn login' href="/auth/google">Google+ LOG IN</a>
      <p class='mtm'>- or -</p>
      <input type="text" placeholder="email">
      <input type="text" placeholder="password">
      <a class='login'>LOG IN</a>
      <div class='login-help'>
        <a href="">Forgot Password?</a>
        <a href="">Sign Up</a>
      </div>
    </div>
  </div>
</body>

</html>