<%- include('partial/head') -%>
<div class="login-wrap">
  <ul>
    <li>
      <a id="githubLogin" href="/auth/github">🔑 Login with github</a>
    </li>
  </ul>
</div>
<%- include('partial/tail') -%>
