//- <!DOCTYPE html>
//- <html>
//-   <head>
//-     <title>Document</title>
//-     <link rel='stylesheet' href='/stylesheets/style.css' />
//-   </head>
//-   <body>
//-     <h1><%= title %></h1>
//-     <form action="/login/github" method="POST">
//-       <input type="submit">
//-     </form>
//-   </body>
//- </html>

html
  head
    title Document
    meta(charset='utf-8')
  body
    h1= title
    form(action='/login/github', method='POST')
      input(type='submit')
