<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap' rel='stylesheet'>
  </head>
  <body>
    <div class='wrap'>
      <header>
        <h1><a href="/">Codewars</a></h1>
      </header>
      <a href='/auth/google' class="btn-google">Google Login</a>
    </div>
  </body>
</html>
