<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div className="login-container">
      <div class="login-form">
        <h1><img src="https://image.flaticon.com/icons/svg/25/25231.svg"></img>Git-Hub Login</h1>
        <a class="logbtn" href="/login/github">Log-in</a>
      </div>
    </div>
  </body>
</html>
