<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Code-Wars-Login</title>
    <style>
      body{
        font-family: arial;
        margin: 0;
      }
      nav{
        background: #ff5353;
        padding: 20px 10px;
      }
      nav ul{
        max-width: 960px;
        margin: 0 auto;
        padding: 0;
      }
      nav li{
        list-style-type: none;
        display: inline-block;
        margin: 0 10px 0 0;
      }
      nav a{
        color: #fff;
        font-size: 18px;
        background: rgba(255,255,255,0.2);
        text-decoration: none;
        padding: 10px;
        display: block;
      }
      main, header{
        max-width: 960px;
        margin: 30px auto;
        padding: 0 10px;
        color: #333;
      }
      .google-btn{
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        padding: 10px;
        background: #ff5353;
      }
    </style>
  </head>
  <body>
    <nav>
      <ul>
        <% if (user) { %>
        <li><a href='/logout'>Logout</a></li>
        <li><a href='/'>Homepage</a></li>
        <li><a href='/profile'>Profile</a></li>
        <% } else { %>
        <li><a href='/login'>Login</a></li>
        <% } %>
      </ul>
    </nav>
    <% if (user) { %>
    <header>
      <h1>You are already Logged in.</h1>
    </header>
    <% } else { %>
    <header>
      <h1>Login with Google only!!</h1>
      <h2>Press the Button below.</h2>
    </header>
    <main>
      <a class='google-btn' href='/auth/google'>Google+</a>
      <p>
        <img src='https://images.unsplash.com/photo-1541846476-153596ce1e61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2734&q=80' height='500px' />
      </p>
    </main>
    <% } %>
  </body>
</html>
