<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body>
    <form>
      <fieldset>
        <legend>LOGIN</legend>
        <div class="form-box">
          <label for="id">ID</label>
          <input name="id" id="id" type="text" />
        </div>
        <div class="form-box">
          <label>PASSWORD</label>
          <input name="password" id="password" type="password" />
        </div>
      </fieldset>
    </form>
    <ul class="button-list">
      <li><input class="button" type="submit" value="SIGN IN" /></li>
      <li><a class="button" href="/users/signup">CREATE ACCOUNT</a></li>
    </ul>
  </body>
</html>
