<html>
  <head>
    <title><%=title %></title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <% include ./common/bootstrapCss.ejs  %>
  </head>
  <body>
    <div class="loginWindow">
      <h1><%=title %></h1>
      <form action="/login" method="POST" class="form">
        <div class="form__text">
          <label class="form__title">email</label>
          <div class="form__input">
            <input type="email" name="email" class="form-control" id="floatingInput" placeholder="123456@mail.com" />
          </div>
        </div>
        <div class="form__text">
          <label class="form__title">password</label>
          <div class="form__input">
            <input type="password" name="password" class="form-control" placeholder="Password" />
          </div>
        </div>
        <button type="submit" id="submitButton" class="btn btn-primary">Sign In</button>
        <a href="/join" type="submit" class="btn btn-outline-primary">Sign Up</a>
      </form>
    </div>
  </body>
  <% include ./common/bootstrapJs.ejs  %>
</html>
