<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body>
    <h1>로그인 페이지</h1>
    <h2>소셜 로그인</h2>

    <div class='social-login-wrapper'>
      <ul class='social-login'>
        <li><a href='/auth/github'>Login with GitHub</a></li>
        <li>Instagram</li>
        <li>kakaoTalk</li>
      </ul>
    </div>

  </body>
</html>