<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan+2|Gamja+Flower&display=swap" rel="stylesheet">
  </head>
  <body class="loginBody">
    <section class="loginSession">
      <img src="https://www.codewars.com/assets/logos/logo-square-red-big-c74ae0e7a89b33acd3beb1f08229630391934650e3bbd30ddc40e8be5bbfc71e.png"><br />
      <a href="/auth/github" class="login">Login with Github</a><br />
      <a href="/auth/github" class="signUp">Sign Up with Github</a>
    </section>
  </body>
</html>
