<%- include('partials/problem-detail') %>

<div class="playground">
  <div class="solution">
    <div class="title">Solution</div>
    <form class="solution-form" action="/problems/<%= problem.id %>" method="POST">
      <textarea id="codearea" name="usercode"><%= 'function solution () {\n  \n}\n' %></textarea>
        <div class="buttons">
          <button class="code-button" type="submit">Submit</button>
        </div>
    </form>
  </div>
</div>

<%- include('partials/codemirror') %>
