<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/problems.css' />
    <link rel='stylesheet' href='/codemirror/lib/codemirror.css' />
    <link rel='stylesheet' href='/codemirror/theme/dracula.css' />
    <script src="/codemirror/lib/codemirror.js"></script>
    <script src="/codemirror/mode/javascript/javascript.js"></script>
  </head>
  <body>
    <h1>Problems</h1>
    <form method="GET" action="/users/logout">
      <button class="button" type="submit">LOGOUT</button>
    </form>
    <p><%= problem.id %></p>
    <p><%= problem.description %></p>
    <form action="<%= `/problems/${problem._id}` %>" method="POST">
      <textarea id="editor" name="code">function solution(arg) {&#13;&#10; // Your code here.. &#13;&#10;}</textarea>
      <button type="submit">제출</button>
    </form>
  </body>
  <script>
    const editor = document.getElementById("editor");
    const codemirror = new CodeMirror.fromTextArea(editor, {
      name: "javascript",
      lineNumbers: true,
      lineWrapping: true,
      theme: "dracula",
    });
  </script>
</html>
