<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/problems.css' />
  </head>
  <body>
    <h1>Problems</h1>
    <form method="GET" action="/users/logout">
      <button class="button" type="submit">LOGOUT</button>
    </form>
    <p><%= problem.id %></p>
    <p><%= problem.description %></p>
  </body>
</html>
