<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/problems">Problem</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </nav>
    <ul class="problems">
    <% for(let i = 0; i < problems.length; i++){%>
      <li>
      <div><a href=<%= `problems/${problems[i].id}` %>><%= problems[i].title %></a></div>
      <div><%= `정답자: ${problems[i].completed_users}` %></div>
      <div><%= `난이도: Level ${problems[i].difficulty_level}` %></div>
    </li>
    <%}%>
    </ul>
  </body>
</html>