<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/problems.css' />
  </head>
  <body>
    <div class="problems-container">
      <% include ./header %>
      <% for(let i = 0; i < problems.length; i++){%>
      <a class="problem-item" href=<%= `problems/${problems[i].id}` %>>
        <h2><%= problems[i].title %></h2>
        <p><%= `정답자: ${problems[i].completed_users}` %></p>
        <p><%= `난이도: Level ${problems[i].difficulty_level}` %></p>
      </a>
      <%}%>
    </div>
  </body>
</html>
