<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/header %>

    <form action="/problems/<%= problem.id %>" method="POST">
      <h2><%= problem.title %></h2>
      <textarea id="js">

      </textarea>
      <button type="submit">제출</button>
    </form>

    <% include ./partials/footer %>
    <script src='/javascripts/index.js'></script>
  </body>
</html>
