<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/problem.css' />
  </head>
  <body>
    <div class='problem-box'>
      <div class='title'><%= problem.title%></div>
      <div class='problem-info'>LEVEL <%= problem.difficulty_level%> 정답자 <%= problem.completed_users%></div>
      <div class='description'><%= problem.description%></div>
      <form class='code-mirror' method='post'>
        <textarea name='code' id='editor'></textarea>
        <input type='submit' value='정답확인' />
      </form>
    </div>
  </body>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.1/theme/dracula.min.css" />
  <link rel='stylesheet' href='/stylesheets/codemirror.css' />
  <script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.1/codemirror.min.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.1/mode/javascript/javascript.min.js"></script>
  <script type='text/javascript' src='/javascripts/codemirror.js'></script>
</html>
