extends layouts/main.pug

block body
  link(rel="stylesheet" href="/stylesheets/problemDetail.css")
  link(rel="stylesheet" href="https://codemirror.net/theme/material.css")
  link(rel="stylesheet" href="/codemirror/lib/codemirror.css")
  script(type="text/javascript" src="/codemirror/lib/codemirror.js")
  script(type="text/javascript" src="/codemirror/mode/javascript/javascript.js")
  script(type="text/javascript" src="/codemirror/addon/fold/xml-fold.js")
  script(type="text/javascript" src="/codemirror/addon/hint/show-hint.js")
  script(type="text/javascript" src="/codemirror/addon/hint/javascript-hint.js")
  script(type="text/javascript" src="/codemirror/addon/edit/closebrackets.js")
  script(type="text/javascript" src="/codemirror/addon/edit/matchbrackets.js")
  script(type="text/javascript" src="/codemirror/addon/edit/closetag.js")
  script(type="text/javascript" src="/codemirror/addon/edit/matchtags.js")
  script(type="text/javascript" src="/codemirror/addon/edit/trailingspace.js")
  .problem__container
    div.problem__description problemDetail
    form.problem__editorForm(action=`/problem/${id}` method="POST")
      textarea.textEditor#textEditor(name="userCode") function solution() {}
      .submitButton__wrapper
        button.btn.btn-primary(type="submit") Run Code!
  script(type="text/javascript" src="/javascripts/problemDetail.js")

