<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/header %>

    <% include ./partials/main %>

    <% include ./partials/footer %>
    <script src='/javascripts/index.js'></script>
  </body>
</html>
