<%- include('./partials/header'); %>
<div>
  <form action="<%= params %>" method="post">
    <div class="problem-description">
      <h2>Problem Title</h2>
      <p>Descrition</p>
    </div>
    <textarea id="edit-area" class="problem-soultion">function solution() {}</textarea>
    <textarea id="test-cases" class="problem-test-cases"></textarea>
    <input type="submit" value="submit">
  </form>
</div>
<%- include('./partials/footer'); %>