<link rel='stylesheet' href='/stylesheets/style.css' />

<div class="flex-wrapper">
  <% include header.ejs %>

  <main class="problems-list">
    <% for(let i = 0; i < problems.length; i++) { %>
      <div class="problem-card">
        <a href= '/problem/<%= problems[i]._id %>' ><span><%= problems[i].title %></span></a>
        <span class="level-font">Level <%= problems[i].difficulty_level %></span>
      </div>
    <% } %>
  </main>

  <% include footer.ejs %>
</div>