<!DOCTYPE html>
<html lang='en'>
<head>
  <title><%= title %></title>
  <script src="/codemirror/codemirror.js"></script>
  <link href="/codemirror/codemirror.css" rel="stylesheet"/>
  <script src="/codemirror/closebrackets.js"></script>
  <script src="/codemirror/javascript/javascript.js"></script>
  <link href="/codemirror/dracula.css" rel="stylesheet" />
  <link rel="stylesheet" href="/stylesheets/index.css" />
</head>
<body>
  <header>
    <div class="logo-wrapper">
      <img src="/src/logo.png" alt="logo" class="logo">
      <span>CodeWars</span>
    </div>
    <div class="header-title-wrapper">
      <span><%= title %></span>
    </div>
    <div class="logout-wrapper">
      Logout
    </div>
  </header>
  <div class="problem-description">
    <div class="description-wrapper">
      <p><%= description %></p>
    </div>
    <form action="<%= problemId %>" method="POST">
      <textarea name="solution" id="editor">
function solution (n) {

}
      </textarea>
      <button type="submit" class="problem-btn">SUBMIT</button>
    </form>
  </div>
  <script>
    const editor = CodeMirror.fromTextArea
    (document.getElementById("editor"), {
      mode: "javascript",
      theme: "dracula",
      lineNumbers: true,
      autoCloseBrackets: true
    });
  </script>
</body>
</html>
