extends layouts/main
include mixins/failure
include mixins/success
include mixins/testCase

block body
  link(rel="stylesheet" href="/stylesheets/problemDetail/problemDetail.css")
  link(rel="stylesheet" href="/stylesheets/problemDetail/failure.css")
  link(rel="stylesheet" href="/stylesheets/problemDetail/success.css")
  link(rel="stylesheet" href="/stylesheets/problemDetail/problemEditor.css")
  link(rel="stylesheet" href="/stylesheets/problemDetail/problemText.css")
  link(rel="stylesheet" href="/stylesheets/problemDetail/testCase.css")
  link(rel="stylesheet" href="https://codemirror.net/theme/material.css")
  link(rel="stylesheet" href="/codemirror/lib/codemirror.css")
  script(type="text/javascript" src="/codemirror/lib/codemirror.js")
  script(type="text/javascript" src="/codemirror/mode/javascript/javascript.js")
  script(type="text/javascript" src="/codemirror/addon/fold/xml-fold.js")
  script(type="text/javascript" src="/codemirror/addon/hint/show-hint.js")
  script(type="text/javascript" src="/codemirror/addon/hint/javascript-hint.js")
  script(type="text/javascript" src="/codemirror/addon/edit/closebrackets.js")
  script(type="text/javascript" src="/codemirror/addon/edit/matchbrackets.js")
  script(type="text/javascript" src="/codemirror/addon/edit/closetag.js")
  script(type="text/javascript" src="/codemirror/addon/edit/matchtags.js")
  script(type="text/javascript" src="/codemirror/addon/edit/trailingspace.js")
  +failure({id: failure, results: results, err: err})
  +success({id: success, results: results})
  .problem
    .problem__container
      .problem__text
        .text__wrapper
          .problem__title #{problem.title}
          hr.hrLine
          .problem__description #{problem.description}
          .dummy
          .problem__testcases
            each testCase in problem.testCases
              +testCase(testCase)
      form.problem__editorForm(action=`/problem/${problem._id}` method="POST")
        textarea.textEditor#textEditor(name="userCode") #{initCode}
        .submitButton__wrapper
          button.btn.btn-primary(type="submit") Run Code!
  script(type="text/javascript" src="/javascripts/problemDetail.js")

