<link rel='stylesheet' href='/stylesheets/style.css' />

<div class="flex-wrapper">
  <% include header.ejs %>

  <main class="problem-wrapper">

    <div class="problem-board">

    </div>
    
  </main>

  <% include footer.ejs %>
</div>
