<!DOCTYPE html>
<html>
  <head>
    <title><%=title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Codewars</h1>
    <h2>problems</h2>
    <ul class="problems">
      <li class="problem">
        problem 1.
      </li>
    </ul>
  </body>
</html>
