<link rel='stylesheet' href='/stylesheets/style.css' />

<div class="problems-wrapper">
  <header class="problems-header">header</header>

  <main class="problems-list">
    <ul>
      <% for(let i = 0; i < data.length; i++) { %>
        <br />
        <li>
          <a href= '/problems/<%= data[i]._id %>' ><span><%= data[i].title %></span></a>
          <span><%= data[i].description %></span>
        </li>
      <% } %>
      </ul>
  </main>

  <footer class="problems-footer">footer</footer>
</div>