<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
    <script src="/codemirror/lib/codemirror.js"></script>
    <script src="/codemirror/mode/javascript.js"></script>
    <script src="/codemirror/addon/line_numbers.js"></script>
    <script src="/codemirror/addon/edit/closebrackets.js"></script>
    <script src="/codemirror/addon/edit/closetag.js"></script>
    <script src="/codemirror/addon/edit/continuelist.js"></script>
    <script src="/codemirror/addon/edit/matchbrackets.js"></script>
    <script src="/codemirror/addon/edit/matchtags.js"></script>
    <script src="/codemirror/addon/edit/trailingspace.js"></script>
    <script src="/codemirror/addon/scroll/annotatescrollbar.js"></script>
    <script src="/codemirror/addon/scroll/scrollpastend.js"></script>
    <script src="/codemirror/addon/scroll/simplescrollbars.js"></script>

    <link rel="stylesheet" href="/codemirror/addon/scroll/simplescrollbars.css">
    <link rel="stylesheet" href="/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="/codemirror/theme/monokai.css">
  </head>
  <body>
    <% include ./partials/header %>

    <form action="/problems/<%= problem.id %>" method="POST">
      <h2><%= problem.title %></h2>
      <textarea id="editor">
console.log('Hello World!');
      </textarea>
      <button type="submit">제출</button>
    </form>

    <% include ./partials/footer %>

    <script src='/javascripts/editor.js'></script>
  </body>
</html>
