<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Login</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/auth/logout">Logout</a></li>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/">Codewars</a></li>
      </ul>
    </nav>
    <header>
      <h1>Welcome <%= user.name.familyName %></h1>
    </header>
    <main>
      <p>problems..</p>
    </main>
  </body>
</html>
