<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/public/stylesheets/style.css' />
  <script type="text/javascript" src="/utils/side-nav.js"></script>
  <title>Login</title>
</head>

<body>
  <div class="web-header">
    <ul class="horizontal-list">
      <% if (user) { %>
      <li><a href="/auth/logout">Logout</a></li>
      <% } else { %>
      <li><a href="/auth/login">Login</a></li>
      <% } %>
      <li><a href="/">Homepage</a></li>
      <li><img class='nav-thumb' src="<%= user.thumbnail %>" alt="user_thumbnail"><a
          href="/profile"><%= user.username %></a></li>
    </ul>
  </div>

  <img class='side-menu-img' onmouseenter="openNav()" src="/public/images/codewars-sidebar.png" alt="codewars-sidebar">
  
  <div id="mySidenav" class="sidenav" onmouseleave="closeNav()">
    <a href="/">Home</a>
    <a href="/">Kata</a>
    <a href="/profile">Profile</a>
  </div>

  <header>
    <h1>Welcome to your profile, <%= user.username %></h1>
  </header>
  <main>
    <img src="<%= user.thumbnail %>" alt="user_thumbnail" />
    <p>
      extra information about you.
    </p>
  </main>
</body>

</html>