<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Code-Wars-Profile</title>
    <style>
      body{
        font-family: arial;
        margin: 0;
      }
      nav{
        background: #ff5353;
        padding: 20px 10px;
      }
      nav ul{
        max-width: 960px;
        margin: 0 auto;
        padding: 0;
      }
      nav li{
        list-style-type: none;
        display: inline-block;
        margin: 0 10px 0 0;
      }
      nav a{
        color: #fff;
        font-size: 18px;
        background: rgba(255,255,255,0.2);
        text-decoration: none;
        padding: 10px;
        display: block;
      }
      main, header{
        max-width: 960px;
        margin: 30px auto;
        padding: 0 10px;
        color: #333;
      }
    </style>
  </head>
  <body>
    <nav>
      <ul>
        <% if (user) { %>
        <li><a href='/logout'>Logout</a></li>
        <li><a href='/'>Homepage</a></li>
        <li><a href='/profile'>Profile</a></li>
        <% } else { %>
        <li><a href='/login'>Login</a></li>
        <% } %>
      </ul>
    </nav>
    <% if (user) { %>
    <header>
      <h1>Welcome to your profile, <%= user.userName %></h1>
    </header>
    <main>
      <img src='<%= user.thumbnail %>' height='464px' />
      <p>This is your profile thumbnail.</p>
      <p>Your Locale is '<%= user.locale %>'.</p>
    </main>
    <% } else { %>
    <header>
      <h1>You can use our services after Login.</h1>
      <h2>If you want to use our page Press the Button above.</h2>
      <img src='https://images.unsplash.com/photo-1459347268516-3ed71100e718?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80' height='500px' />
    </header>
    <% } %>
  </body>
</html>
