<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h3>회원가입 페이지</h3>
    <form action="/login/register" method="POST">
      <input name="username" type="text" placeholder="아이디" />
      <input name="password" type="password" placeholder="비번" />
      <button type="submit">회원가입</button>
    </form>
  </body>
</html>
