<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR|Roboto&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body>
    <div class="login-wrapper">
      <div class="login-page">
        <div class="login-content">  
        <img class="logo" src='/img/logo.png'/>
        <div class="login-register-wrapper">
            <div class="login-text">
                <p class="register-text-content">
                    <a class="register-text-content" href="/login">로그인</a>
                  </p>
            </div>
            <div class="register-text">
                <p class="login-text-content">회원가입</p>
            </div>
        </div>
        <div style="color:red"><%= error %></div>
        <div class="input-form-wrapper">
          <form action="/register" method="post">
            <label class="input-email-text" >이메일을 입력하세요</label><br>
            <input class="input-email-form" type="text" name="username" placeholder="example@gmail.com"/>
            <br>
            <label class="input-email-text" >비밀번호를 입력하세요 (6자 이상)</label><br>
            <input class="input-email-form" type="password" name="password" placeholder="ex)12abc34"/>
            <br>
            <label class="input-email-text" >비밀번호를 다시 한 번 입력하세요 </label><br>
            <input class="input-email-form" type="password" name="password2" placeholder="ex)12abc34"/>
            <br>
            <label class="input-email-text" >닉네임을 입력하세요 </label><br>
            <input class="input-email-form" type="text" name="displayname" placeholder="ex)바닐라똥코드"/>
            <div>
                <button class="input-email-btn" type="submit">이메일로 가입하기</button>
            </div>
          </form>
        </div>
        <div class="sns-border">
            <div class="sns-border-text">SNS계정으로 시작하기</div>
        </div>
        <div class="input-google-wrapper">
           <a class="input-google-text" href="/auth/google">
            <img class="google-logo" src='/img/Google-Plus-icon.png'/>
            구글로 시작하기
          </a>    
         </div>
        </div>
      </div>

      <div class="login-info">

      </div>
    </div>
  </body>
</html>