<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/header %>

    <h2><%= title %></h2>
    <h1>코드 실행 결과</h1>

    <% for (let i = 0; i < tests.length; i++) { %>
      <div>
        <h4><%= `${i + 1}번 테스트 케이스: ${tests[i].code}` %></h4>
        <h4>테스트 케이스 정답: <%= tests[i].solution %></h4>
        <h4>제출 코드 실행 결과: <%= testResult[i] %></h4>
      </div>
      <hr>
    <% } %>

    <% include ./partials/footer %>
    <script src='/javascripts/index.js'></script>
  </body>
</html>
