<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/header %>

    <h1>Secession</h1>
    <form action="/sign-out/done" method="GET" >
      <h2>탈퇴 하시겠습니까?</h2>
      <button type="submit">Yes</button>
    </form>

    <% include ./partials/footer %>
    <script src='/javascripts/index.js'></script>
  </body>
</html>
