<form action="/signup" method="POST">
  <div>
    <label for="name">Name</label>
    <input name="name" />
  </div>
  <div>
    <label for="email">Email</label>
    <input name="email" />
  </div>
  <div>
    <label for="password">Password</label>
    <input name="password" />
  </div>
  <button class="button" type="submit">확인</button>
</form>
