<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up</title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body>
    <form method="POST" action="/users/signup">
      <fieldset>
        <legend>CREATE ACCOUNT</legend>
        <div class="form-box">
          <label for="userId">ID</label>
          <input name="userId" id="userId" type="text" required/>
        </div>
        <div class="form-box">
          <label>PASSWORD</label>
          <input name="password" id="password" type="password" required />
        </div>
        <div class="form-box">
          <label for="username">NAME</label>
          <input name="username" id="username" type="text" required />
        </div>
        <div class="form-box">
          <label for="nickname">NICKNAME</label>
          <input name="nickname" id="nickname" type="text" required />
        </div>
        <div class="form-box">
          <label>E-MAIL</label>
          <input name="email" id="email" type="email" required />
        </div>
      </fieldset>
      <ul class="button-list">
        <li><button class="button" type="button">BACK</button></li>
        <li><button class="button" type="reset">RESET</button></li>
        <li><input class="button" type="submit" value="SIGN UP" /></li>
      </ul>
    </form>
  </body>
</html>
