<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up</title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body>
    <main class="flex-main">
      <h1>
        <img class="icon" src="/images/icon/icon_08.png" alt="darth vador icon" />
        <p class="title">SIGN UP</p>
      </h1>
      <div class="form-box">
        <form id="signup-form" method="POST" action="/users/signup">
          <fieldset>
            <legend>CREATE ACCOUNT</legend>
            <div class="input-box">
              <label for="userId">ID</label>
              <input name="userId" id="userId" type="text" placeholder="ID" autocomplete="off" required/>
            </div>
            <div class="input-box">
              <label>PASSWORD</label>
              <input name="userPassword" id="userPassword" type="password" placeholder="PASSWORD" autocomplete="off" required />
            </div>
            <div class="input-box">
              <label for="userName">NAME</label>
              <input name="userName" id="userName" type="text" placeholder="NAME"  autocomplete="off"required />
            </div>
            <div class="input-box">
              <label for="userNickname">NICKNAME</label>
              <input name="userNickname" id="userNickname" type="text" placeholder="NICKNAME" autocomplete="off" required />
            </div>
            <div class="input-box">
              <label for="userSide">SIDE</label>
              <select name="userSide" id="userSide">
                <option value="LIGHT SIDE">LIGHT SIDE</option>
                <option value="DARK SIDE">DARK SIDE</option>
              </select>
            </div>
            <div class="input-box">
              <label>E-MAIL</label>
              <input name="userEmail" id="userEmail" type="userEmail" placeholder="EMAIL" autocomplete="off" required />
            </div>
          </fieldset>
        </form>
        <p class="validation">
          <% if (messages.validation) { %>
            <%= messages.validation %>
          <% } %>
        </p>
        <ul class="button-list">
          <li><a class="button red" href="/users/login">LOGIN PAGE</a></li>
          <li><button class="button red" type="submit" form="signup-form">SIGN UP</button></li>
        </ul>
      </div>
    </main>
  </body>
</html>
