<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
    <link rel="stylesheet" href="/stylesheets/signIn.css" />
  </head>
  <body>
    <div class="container">
      <div class="sign-in form">
        <img class="app-logo" src="/assets/images/sudal.png" >
        <h1>codewars</h1>
        <a href="/sign-in/github">
          <div class="git-in">
            <span>
              Sign in with GitHub
            </span>
            <img class="git-logo" src="/assets/images/githubLogoWhite.png">
          </div>
        </a>
        <form action="/sign-in" method="POST">
          <div class="sign-input">
            <input type="email" id="email" name="email" placeholder="email" required>
          </div>
          <div class="sign-input">
            <input type="password" id="password" name="password" placeholder="password" required>
          </div>
          <button class="sign-in-button" type="submit">Sign In</button>
        </form>
        <a class="sign-up-button" href="/sign-up">Sign Up</a>
        <h2><%= messages.error ? messages.error : ""  %></h2>
      </div>
    </div>

    <script src='/javascripts/index.js'></script>
  </body>
</html>
