<!DOCTYPE html>
<html>

<head>
  <title>Codewars</title>
  <link rel="stylesheet" href="/stylesheets/auth.css" />
</head>

<body>
  <main>
    <form class="login-form" action="/auth/signup" method="post">
      <h1>
        <%= title %>
      </h1>
      <h3>
        <%= message %>
      </h3>
      <div class="form-input-material">
        <input type="email" name="email" id="email" placeholder=" " autocomplete="off" maxlength="50" minlength="5"
          required class="form-control-material" />
        <label for="email">email</label>
      </div>
      <div class="form-input-material">
        <input type="username" name="username" id="username" placeholder=" " autocomplete="off" maxlength="50"
          minlength="8" required class="form-control-material" />
        <label for="username">username</label>
      </div>
      <div class="form-input-material">
        <input type="password" name="password" id="password" placeholder=" " autocomplete="off" maxlength="50"
          minlength="8" required class="form-control-material" />
        <label for="password">Password</label>
      </div>
      <button type="submit" class="btn btn-ghost">Sign Up</button>
    </form>
  </main>
</body>

</html>
