<form action="/login/signup" method="post">
  <div>
    <%= message %>
  </div>
  <div>
    <label>email:</label>
    <input type="email" name="email" />
  </div>
  <div>
    <label>username:</label>
    <input type="text" name="username" />
  </div>
  <div>
    <label>Password:</label>
    <input type="password" name="password" />
  </div>
  <div>
    <input type="submit" value="submit" />
  </div>
</form>
