<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body>
    <form>
      <fieldset>
        <legend>CREATE ACCOUNT</legend>
        <div class="form-box">
          <label for="userId">ID</label>
          <input name="userId" id="userId" type="text" />
        </div>
        <div class="form-box">
          <label>PASSWORD</label>
          <input name="password" id="password" type="password" />
        </div>
        <div class="form-box">
          <label for="username">NAME</label>
          <input name="username" id="username" type="text" />
        </div>
        <div class="form-box">
          <label for="nickname">NICKNAME</label>
          <input name="nickname" id="nickname" type="text" />
        </div>
        <div class="form-box">
          <label>E-MAIL</label>
          <input name="email" id="email" type="email" />
        </div>
      </fieldset>
    </form>
    <div class="button-list">
      <button class="button" type="button">BACK</button>
      <button class="button" type="button">SIGN UP</button>
    </div>
  </body>
</html>
