<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/socialLogin.css' />
  </head>
  <body>
    <div class="background">
      <div class="content">
        <h1>Social Login</h1>
        <a href="/auth/github">Git hub</a>
      </div>
    </div>
  </body>
</html>