<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel='stylesheet' href='/stylesheets/submission.css'>
  <title>Document</title>
</head>
<body>
  <header>
    <% include ./header %>
  </header>
  <% if (submissions.length !== 0) { %>
    <div class="grid-wrapper">
      <div class="grid-container">
        <div class="grid-item"><span>문제</span></div>
        <div class="grid-item"><span>결과</span></div>
        <div class="grid-item"><span>제출한 시간</span></div>
        <div class="grid-item"><span>상세보기</span></div>
        <% for (const submission of submissions) { %>
          <div class="grid-item"><span><%= submission.problem_id %></span></div>
          <div class="grid-item"><span><%= submission.result %></span></div>
          <div class="grid-item"><span><%= submission.createdAt.toISOString() %></span></div>
          <div class="grid-item">
            <span>
              <a href="<%= `/user/submission/${submission._id}` %>">
                제출한 코드 보러가기
              </a> 
            </span>
          </div>
        <% } %>
      </div>
    </div>
  <% } else { %>
    <h1>아직 문제를 풀지 않았습니다!! 츄라이!!</h1>
  <% } %>
</body>
</html>
