<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <h1>성공 !</h1>
  <div>
    <a href="/">다른 문제도 도전해보세요 :) </a>
  </div>
</body>

</html>
