<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/success.css">
  <title>Document</title>
</head>
<body>
  <header>
    <% include ./header %>
  </header>
  <div class="success-wrapper">
    <div class="success-item">
      <span>
        테스트를 통과했습니다. 축하합니다!
      </span>
    </div>
    <div class="success-item">
      <a class="burning-button" href="/">
        <span class="return-btn">다시 문제 리스트로!!</span>
      </a>
    </div>
  </div>
</body>
</html>
