<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div className="success-message">
      <div class="success-wrap">
        <h1><img src="https://image.flaticon.com/icons/svg/25/25231.svg"></img>축하합니다. 성공하였습니다.</h1>
        <a class="returnbtn" href="/">문제 리스트로 돌아가기</a>
      </div>
    </div>
  </body>
</html>
