<!DOCTYPE html>
<html>
  <head>
    <title>Success</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
  </head>
  <body>
    <button><a href="/logout">LOGOUT</a></button>
    <div class="title">[SYSTEM] 전투에서 승리하였습니다!</div>

    <div class="successBox">
      <div>덕분에 우주의 평화에 조금더 가까워졌군요!</div>
      <button class="button"><a href="/"> 다른 공적 쌓으러가기!</a></button>
    </div>
  </body>
</html>
