<body>
  <h>CONGRATULATIONS! YOU HAVE SOLVED THE PROBLEM!!</h>
  <p><%= problem.title %></p>
  <p>SOLVED BY <%= problem.completed_users %> USERS</p>
  <a href="/">
    <button>GO TO MAIN</button>
  </a>
</body>
