<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Success</h1>
    <form action="/" method="get">
      <button type="submit">Back to Problem List</button>
    </form>
  </body>
</html>
