<!DOCTYPE html>
<html>
  <head>
    <title>Success</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan+2|Gamja+Flower&display=swap" rel="stylesheet">
  </head>
  <body>
    <section class="successSection">
      <h1 class="testMessage"><%= message %></h1>
      <a href="/problem" class="homeButton">Go Back</a>
    </section>
  </body>
</html>
