<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/success.css' />
  </head>
  <body>
    <div class="success-container">
      <% include ./header %>
      <div class="success-content-container">
        <p>통과하였습니다 : )</p>
      </div>
    </div>
  </body>
</html>
