<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class='wrap'>
      <%- include('partials/header') %>

      <h2>Success</h2>
      <p><%= message %></p>

      <div class='btn'>
        <a href='/'>문제 리스트</a>
      </div>
    </div>
  </body>
</html>
