<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/success.css' />
  </head>
  <body>
    <div class='celebration-box'>
      <div class='celebration-message'>π‰ <%= correctProblem.title %>λ¥Ό(μ„) ν†µκ³Όν•μ…¨μµλ‹λ‹¤ π‰</div>
      <a href='/'>HOME</a>
    </div>
  </body>
</html>
