<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/success.css' />
  </head>
  <body>
    <div class='celebration-box'>
      <div class='celebration-message'><%= correctProblem.title%>를(을) 통과하셨습니다 %></div>
      <a href='/'>HOME</a>
    </div>
  </body>
</html>
