<!DOCTYPE html>
<html>
  <head>
    <%- include ./includes/head.ejs %>
  </head>
  <body>
    <%- include ./includes/header.ejs %>
    <div class="container">
      <div class="success-box">
        <div>
          <div class="success-info">정답입니다!</div>
          <a class="success-button" href="/">다른 문제 풀기</a>
        </div>
      </div>
    </div>
  </body>
</html>
