<!DOCTYPE html>
<html>
  <head>
    <title>Success</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan+2|Gamja+Flower&display=swap" rel="stylesheet" />
  </head>
  <body>
    <section class="resultSection">
      <h1 class="testMessage"><%= message %></h1>
      <a href="/problem">Go Home</a>
      <article>
        <% if (results.length) { %>
          <ul class="results">
            <% results.forEach((result, index) => { %>
              <li>[Test <%= index + 1 %>]</li>
              <li>expected <u><big>"<%= result[0] %>"</big></u> to equal <u><big>"<%= result[1] %>".</big></u></li>
            <% }) %>
          </ul>
        <% } %>
      </article>
    </section>
  </body>
</html>
