<% include ./partial/head %>
<div className="success-message">
  <div class="success-wrap">
    <h1>축하합니다. 성공하였습니다.</h1>
    <div class="returnbtn-wrap">
      <a class="returnbtn" href="/">HOME</a>
    </div>
  </div>
</div>
