<!DOCTYPE html>
  <html>
    <head>
      <link rel="stylesheet" href="/stylesheets/success.css">
    </head>
    <body>
      <% include ./header %>
      <h1>성공!!!!!</h1>
      <a href="/">문제 리스트로 돌아가기</a>
    </body>
  </html>