<%# views/success.ejs %>
<% extend('layout') %>
<% include ./header %>

<div class='success-container'>
  <span><%= username %> 님, 정답입니다!</span>
  <form action='/' method='GET'>
    <button type='submit' class='next-button'>다른 문제 풀기</button>
  </form>
</div>
