<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
  </head>
  <body>
    <h1>성공 페이지</h1>
    <form action="/" method="GET">
      <button type="submit">홈으로</button>
    </form>
  </body>
</html>
