<!DOCTYPE html>
<html lang="en">
  <%- include("head") %>
  <body class="text-center" cz-shortcut-listen="true">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Code Wars</h3>
        </div>
      </header>
      <main role="main" class="inner cover">
        <h1 class="cover-heading">Solve this problem!</h1>
        <hr>
        <p class="lead">제법... 이군요...?</p>
        <p class="lead">
          <a href="/problems" class="btn btn-lg btn-secondary">더 풀래요!</a>
        </p>
      </main>
    </div>
  </body>
</html>
