<%- include('header') -%>
<div class="template__result__wrap">
  <form class="template__result__form" action="/" method="get">
    <h3 class="text__result">💯 성공!!! 당신은 알고리즘 황제입니다 🏆</h3>
    <%- include('result') -%>
    <button class="button__result" type="submit">다른 문제 풀러 가기</button>
  </form>
</div>
<%- include('successScript') -%>
<%- include('footer') -%>
