<!DOCTYPE html>
<html>
  <head>
    <title>Success</title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div><%= message %></div>
    <div class="button-list">
      <% if (message === "SUCCESS") { %>
        <a class="button" href="/">GO TO PROBLEM LIST</a>
      <% } else { %>
         <a class="button" href="/users/login">GO TO LOGIN PAGE</a>
      <% } %>
    </div>
  </body>
</html>
