<!DOCTYPE html>
<html>
  <head>
    <title>Success</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div><%= message %></div>
    <div class="button-list">
      <button class="button" type="button">LOGIN PAGE</button>
    </div>
  </body>
</html>
