<!DOCTYPE html>
<html>

<head>
  <title>success</title>
</head>

<body>
  <%- include('partials/header') %>

  <div>
    <h3>문제를 맞히셨습니다 ! </h3>
    <button>
      <a href="/">다른 문제 보기</a>
    </button>
  </div>
</body>

</html>
