<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/header') %>

    <div class="container">
      <p class="success-msg">
        축하합니다!
        테스트 모두 통과하셨습니다.
      </p>
      <a href="/">목록으로</a>
    </div>
  </body>
</html>
