<!DOCTYPE html>
<html>
  <head>
    <title>Success</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <button><a href="/logout">LOGOUT</a></button>
    <h2>Success!</h2>

  </body>
</html>