<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/success.css' />
  </head>
  <body>
    <div class='celebration-box'>
      <div class='celebration-message'>ðŸŽ‰ <%= correctProblem.title%>ë¥¼(ì„) í†µê³¼í•˜ì…¨ìŠµë‹ˆë‹¤ ðŸŽ‰ %></div>
      <a href='/'>HOME</a>
    </div>
  </body>
</html>
