<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li><img src="https://www.softlab.ntua.gr/~nickie/images/logo/codewars.png" width="150px" height="150px"></li>
          <li><a href="/logout">LOG OUT</a></li>
          <li>PROBLEM</li>
      </ul>
    </nav>
    <main>
      <div>
        <h1>통과통과</h1>
      </div>
    </main>
  </body>
</html>