<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/header') %>

    <div class="container msg">
      <p class="basic-msg">
        Congratulations!
      </p>
      <p class="basic-msg">
        All tests <strong class="line-color03">passed</strong>.
      </p>
      <div class="basic-box">
        <ul class="code-list">
          <% for (let i = 0; i < testCode.length; i++) { %>
          <li>
            <p class="success-msg title">
              <strong>Test Code:</strong>
              <%= testCode[i].code %>
            </p>
            <p class="txt-green">
              Result: <%= testCode[i].solution %>
            </p>
          </li>
          <% } %>
        </ul>
      </div>
      <a href="/" class="btn-basic space-top">List</a>
    </div>
  </body>
</html>
