<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>CodeWars</title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
  </head>
  <body>
    <% include ./header %>
    <section class="information">
      <h1>축하드립니다.</h1>
      <p>모든 문제를 맞추셨습니다.</p>
      <p><a class="button" href="/">메인으로 이동</a></p>
    </section>
  </body>
</html>
