<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/header') %>

    <div class="container msg">
      <p class="basic-msg">
        Congratulations!
      </p>
      <p class="basic-msg">
        All tests <strong class="line-color03">passed</strong>.
      </p>
      <a href="/" class="btn-basic">Go Back</a>
    </div>
  </body>
</html>
