@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&family=Noto+Sans+KR:wght@300;400;500&display=swap');

body {
  font-family: 'Fira Code', 'Noto Sans KR', sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--main-bg-color);
  color: white;
}

a {
  text-decoration: none;
  color: white;
}
