.message {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-container {
  position: relative;
  width: 400px;
  height: 200px;
  padding: 30px;
  background: white;
  color:black;
}

.message-container h1 {
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

.message-container p {
  font-size: 12px;
  line-height: 18px;
  height: 64%;
  overflow: auto;
}

.message-container a {
  position: absolute;
  padding: 4px;
  left: 30px;
  bottom: 30px;
  color: black;
  text-decoration: underline;
}

.message-container span {
  color: red;
}

.message-container span:nth-child(4) {
  color: green;
}

.success {
  background: rgb(118, 155, 255);
}

.failure {
  background: rgb(255, 215, 115);
}

.error {
  background: salmon;
}

.failed-message {
  color: red;
}

pre {
  font-size: 12px;
  line-height: 16px;
  overflow: auto;
  height: 64%;
}
