:root {
  --background-color: #303841;
  --color-dark-grey: #3a4750;
  --color-red: #d72323;
  --color-light-grey: #eeeeee;
  --color-middle-grey: #aaaaaa;
  --color-white: #FFFFFF;
  --color-black: #000000;
}
