@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');

.failure-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #48A9A6;
  font-family: 'Single Day', cursive;
}

.failure-content-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 20%;
  margin: 10%;
  background-color: #E3D26F;
}

.failure-content-container p {
  height: 30%;
  font-weight: bold;
  font-size: 30px;
}
