.fail-result-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 40vh;
  margin-top: 8vh;
}

.testcases-wrapper {
  display: flex;
  flex-direction: column;
  width: 45vw;
}

.testcase-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 2px solid red;
}

.testcase-explain, .user-result-explain {
  margin-left: 3vw;
}

.testcase-explain {
  margin-top: 0;
}

.final-result {
  margin-top: 2vh;
}
