.header-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid black;
  padding: 10px;
}

.header-left-container {
  width: 30%;
  display: flex;
  justify-content: flex-start;
}

.header-middle-container {
  width: 50%;
  display: flex;
  justify-content: center;
}

.header-right-container {
  width: 20%;
  display: flex;
  justify-content: flex-end;
}

.header-item {
  width: 200px;
  font-size: 40px;
  font-weight: 800;
}
