* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #2F3133;
  color: rgb(197, 200, 198);
}

.problems-container {
  width: 1000px;
  height: 500px;
  margin: 100px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.problem {
  background-color: #212121;
  padding: 15px;
  margin: 25px;
  border-radius: 3px;
}

.problem-title {
  background-color: #212121;
  font-size: 30px;
}

.problem-count {
  background-color: #212121;
  font-size: 20px;
}

.problem-level {
  background-color: #212121;
  font-size: 20px;
}

.train {
  width: 120px;
  height: 30px;
  color: rgb(187, 67, 44);
  border-radius: 5px;
  background-color: #0B0B0B;
  border: 0;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  padding: 8px 16px;
  position: relative;
  top: 50px;
  left: 317px;
  font-size: 22px;
}
