body {
  font-family: exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
}

a {
  color: #4ec7f3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #d28445;
  color: #fff;
}

.header-column {
  width: 110px;
  margin: 0 70px;
}

.logo {
  width: 70px;
  height: 70px;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-name {
  color: beige;
}

.logout-btn {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4EC7F3;
  color: #FFF;
  margin-top: 10px;
  padding: 8px;
  font-size: 1rem;
}

.container {
  padding: 20px;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: .8rem;
}

button {
  border-radius: 2px;
}


@media (max-width: 767px) {
  .container {
    width: 500px;
    font-size: .8rem;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
    font-size: .9rem;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 970px;
    font-size: 1.0rem;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
    font-size: 1.1rem;
  }
}
