.login-form{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: montserrat;
  box-sizing: border-box;
  width: 360px;
  background: #f1f1f1;
  height: 300px;
  padding: 80px 40px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.login-form img{
  width: 40px;
}

.login-form h1{
  text-align: center;
  margin-bottom: 60px;
}

.logbtn{
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  border: none;
  background: black;
  background-size: 200%;
  color: #fff;
  outline: none;
  cursor: pointer;
  text-align: center;
  transition: .5s;
}

.logbtn:hover{
  opacity: 0.5;
}
