.navbar {
  background-color: #4164fb;
  color: white;
  height: 50px;
  line-height: 53px;
  box-sizing: border-box;
  padding-left: 20px;
}

.navbar a {
  color: white;
}

#navigation {
  position: absolute;
  top: 0;
  left: 20px;
}

#to-problems:hover {
  color: #203349;
}

.user-info {
  position: absolute;
  top: 0;
  right: 20px;
}

#user-name {
  margin-right: 10px;
}

#logout {
  border: 1px solid #aabafe;
  border-radius: 3px;
  padding: 5px 7px;
  font-size: 10px;
  color: #aabafe;
}

#logout:hover {
  border: 1px solid #97a5e2;
  color: #97a5e2;
}
