body {
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  color: #203349;
  list-style-type: none;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none !important;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: black;
}

.level-style {
  color: #4164fb;
  border: 3px solid #4164fb;
  border-radius: 3px;
  padding: 0 10px;
  margin-left: 5px;
}

.main-section {
  width: 100%;
  border: 3px solid #4164fb;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.guide-run-wrapper {
  width: 100%;
  border: 3px solid #4164fb;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.guide-run{
  box-sizing: border-box;
  flex: 1 4 auto;
}

.guide-section {
  border: 3px solid #4164fb;
  padding: 20px;
  height: calc(100vh - 100px);
  overflow-y: scroll;
  box-sizing: border-box;
}

.size-handler{
  width: 20px;
  padding: 0;
  cursor: ew-resize;
  flex: 0 0 auto;
  background-size: 20px 10%;
  border: 3px solid #4164fb;
  background-color: #4164fb;
  background-image: url(../images/grippie-vertical.png);
}

.size-handler:hover{
  background-image: url(../images/grippie-vertical-hover.png);
}

.size-handler::before {
  content: '';
  display: block;
  height: 100%;
  border: 3px solid #4164fb;
}

.run-section {
  border: 3px solid #4164fb;
  height: calc(100vh - 100px);
  overflow-y: scroll;
  box-sizing: border-box;
}

.CodeMirror {
  height: calc(100vh - 100px);
  font-size: 16px;
}

.button-section {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  background-color: #4164fb;
}

#submit-code {
  position: absolute;
  right: 20px;
  background-color: white;
  color: #4164fb;
  padding: 15px;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}
#submit-code:hover {
  background-color: #273ea3ab;
  color: white;
}

.modal {
  z-index: 20;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background-color: white;
  border: 1px solid #4164fb;
  width: 400px;
  height: 300px;
}

.modal-close-btn {
  width: 50px;
  height: 50px;
  background-color: rgb(f, f, f);
  font-size: 20px;
  text-align: center;
  line-height: 53px;
  position: absolute;
  right: 0;
}

.hide {
  display: none;
}

.show {
  display: block;
}

#body-blur {
  z-index: 10;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
}
