.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 100%;
  height: calc(100vh - 60px);
  padding: 20px;
}
.problem-box,
.solution-box {
  width: 55%;
  height: 100%;
  background: #333;
}
.problem-box {
  width: 44%;
  padding: 20px 10px 20px 20px;
}
.problem-title {
  margin-bottom: 40px;
}
.problem-desc {
  height: calc(100% - 113px);
  margin: 0;
  padding-right: 10px;
  overflow: auto;
  line-height: 1.4;
}
.solution-title {
  margin: 0;
  padding: 15px 20px;
  font-weight: 400;
  font-size: 16px;
}
.CodeMirror-wrap {
  height: calc(100% - 60px);
  padding: 10px;
  font-size: 16px;
}
.cm-s-duotone-dark .CodeMirror-gutters,
.cm-s-duotone-dark.CodeMirror {
  background: #000;
}

.code-form {
  height: calc(100% - 48px);
}
.btn-submit {
  padding: 10px 20px;
  border-radius: 5px;
  float: right;
  margin: 11px 20px 0 0;
  font-size: 14px;
  color: #683ad3;
  border: 1px solid #5626C4;
  background: transparent;
  cursor: pointer;
}
