.form-wrapper {
  display: flex;
  justify-content: center;
  width: 60vw;
  margin: 5vh 0;
}

.code-form {
  width: 45vw;
  border: 0.4px solid #fff;
}

.detail-title {
  display: flex;
  align-items: center;
  background-color: rgba(160, 255, 254, 0.2)
}

.detail-title > h1 {
  margin-left: 2vw;
}

.detail-desc > h2 {
  margin: 1.5vh 2vw;
}

.problem-desc-title {
  margin-bottom: 0
}

.problem-desc {
  margin: 0 0 1vh 0;
}

.submit-input {
  margin: 3vh 0;
  height: 5vh;
}

.CodeMirror-scroll {
  margin: 0;
  padding: 0;
}

.submit-input-wrapper {
  display: flex;
  justify-content: center;
}
