.solution-Info {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 50vh;
  margin: 0 auto;
  color: white;
}

.user-code {
  width: 50%;
  height: 300px;
  margin: 10px;
}

.error-comment {
  height: 187px;
  padding: 10px;
  background: #151718;
  font-size: 18px;
  color: red;
}

.result-comment {
  height: 40px;
  line-height: 40px;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 10px;
  background: #232626;
  font-size: 20px;
}

.result-info {
  width: 750px;
  height: 495px;
  margin-top: 0;
  padding: 10px;
  background: #151718;
}

.result-box {
  display: flex;
  align-items: center;
  list-style: none;
  margin-bottom: 70px;
}

.success {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #2ecc71;
}

.fail {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #c0392b;
}

.solution {
  margin: 10px;
  margin-bottom: 0;
  display: inline-block;
  height: 30px;
}

.end-comment {
  display: block;
  width: 1000px;
  height: 70px;
  margin: 0 auto;
  margin-top: 150px;
  font-size: 40px;
  text-align: center;
}

.home-button {
  margin-left: 60px;
}
