form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: #A7A7A8;
  text-decoration: none;
}

#name, #email, #password {
  width: 14rem;
  height: 2rem;
  margin-top: 0.5rem;
  padding: 0.3rem;
  background-color: #262829;
  border: 1px solid #4B5563;
  border-radius: 0.2rem;
  font-size: 1.3rem;
  color: #A7A7A8;
}

.container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  width: 30rem;
  height: auto;
  transform: translate(-50%, -50%);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #262829;
  border: 1px solid black;
  border-radius: 0.2rem;
  color: #A7A7A8;
}

.sign-in-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 2rem;
  padding: 0.2rem;
  background-color: #374152;
  border: 1px solid black;
  border-radius: 0.2rem;
  font-size: 1.5rem;
  color: #A7A7A8;
}

.sign-up-button {
  margin-top: 0.5rem;
  font-size: 1rem;
}

.app-logo {
  width: 10rem;
  padding: 1rem 0rem;
}

.sign-in h1 {
  font-size: 2.5rem;
}

.sign-up-button {
  padding: 0.5rem;
  background-color: #262829;
  border: 3px solid #4B5563;
  border-radius: 0.2rem;
  font-size: 1.5rem;
  color: #A7A7A8;
}

.back {
  margin-top: 1em;
}

.sign-in-title {
  margin: 1em;
  font-size: 3em;
}
