body {
  margin: 0px;
  padding: 0px;
  background-color: #424242;
  font-family: 'Baloo Chettan 2', 'Gamja Flower', cursive;
  color: #c0c0c0;
  font-size: 20px;
}

.login, .mainTitle, .testMessage {
  color: #bb432c;
  font-size: 1.5rem;
}

.problemLevel {
  color: #bb432c;
}

.signUp, .successSection a {
  color: white;
}

.loginSection a, .successSection a {
  width: 230px;
  border-radius: 5px;
  background-color: #151616;
  text-align: center;
  text-decoration: none;
}

.loginSection a:hover, .successSection a:hover {
  background-color: #0b0c0c;
  text-decoration: underline;
}

/* [login] */
.loginBody {
  display: flex;
  justify-content: center;
  margin-top: 180px;
}

.loginSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  padding: 60px 25px 25px 25px ;
  background-color: #282828;
}

.loginSection img, .loginSection a {
  padding: 10px;
}

.loginSection img {
  background-color: transparent;
}

/* [main - header] */
.mainHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.mainHeader a {
  padding: 0;
  text-decoration: none;
}

.mainHeader a:hover {
  text-decoration: underline;
}

.userInfo {
  display: flex;
  list-style: none;
  height: 30px;
}

.userInfo a {
  text-decoration: none;
  color: #c0c0c0;
}

.userInfo, .mainTitle {
  margin: 0px;
  padding: 0px;
}

.userInfo li {
  margin: 3px;
  padding: 1px;
}

.userImg {
  width: 25px;
  height: 25px;
}

/* [main - section] */
.mainSection {
  margin: 7px;
}

.mainSection ul {
  margin: 15px 2px;
  padding: 2px;
}

.problemWrapper {
  margin: 10px;
  padding: 0px;
}

.problemWrapper li {
  display: flex;
  list-style: none;
  margin: 3px;
}

.problemWrapper li div {
  margin: 0px 5px 0px 0px
}

.problemTitleMain a {
  color: #efefef;
}

.problemInfo div {
  font-size: 0.8rem;
}

.problemTitleDetail {
  font-size: 2rem;
}

.problemTest {
  flex-direction: column;
}

button[type=submit] {
  margin: 10px;
  width: 100px;
  height: 50px;
  border-radius: 2px;
  border-style: none;
  background-color: #151616;
  color: white;
  font-size: 1.2rem;
}

button[type=submit]:hover {
  cursor: pointer;
}

/* [success, failure] */
.successSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testMessage {
  font-size: 8rem;
  text-align: center;
}
