body {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  color: #575761;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  overflow-y: hidden;
}

* {
  box-sizing: border-box;
}

a {
  all: unset;
  width: 100%;
  height: 100%;
  color: #EBF6FF;
  cursor: pointer;
}

header {
  width: 100vw;
  height: 13vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding-left: 2vw;
  background-color: #575761;
}

header div {
  all: unset;
  margin: 0 0.5vw;
  background-color: rgba(255, 255, 255, 0.349);
}

nav div:hover {
  background-color: #EBF6FF;
}

nav div:hover a {
  color: #575761;
}

main {
  all: unset;
  position: fixed;
  top: 13vh;
  left: 0;
  width: 100vw;
  height: 87vh;
  display: flex;
  justify-content: center;
  background-color: #575761;
}

.main_title {
  padding-top: 10vh;
  font-size: 3vw;
  color: #83BCFF;
}

.social_login_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40vw;
  height: 20vh;
  color: #575761;
}

.google_btn {
  width: 10vw;
}

.google_btn:hover{
  border-radius: 2vw;
  background-color: #EBF6FF;
}

.social_login_container img {
  width: 100%;
  animation: rotateGoogleLogo infinite 2s ease-in-out alternate-reverse;
}

@keyframes rotateGoogleLogo {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

section {
  all: unset;
  width: 100vw;
  display: flex;
  padding: 2vw;
}

section p {
  flex-basis: 50%;
}

.problems_container {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: #BCAF9C 1px solid;
  border-radius: 2vw;
  padding: 2vw;
}

.problems_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: static;
  background-color: #BCAF9C;
  padding: 2vw 0;
  margin: 1vw 0;
  border-radius: 2vw;
}

.problems_box:hover {
  background-color: #C84630;
}

.problems_users {
  position: relative;
  top: -10%;
  right: -35%;
}

.problemView_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.problemView_info {
  width: 80vw;
  margin: 2vh 0;
  padding: 2vw;
  color: #575761;
  background-color: #EBF6FF;
}

.problemView_info input {
  all: unset;
  font-size: 2vw;
  display: inline;
}

.problemView_btn {
  position: fixed;
  right: 5vw;
  padding: 1vw;
  border: none;
  border-radius: 1vw;
  color: #575761;
  background-color: #BCAF9C;
  cursor: pointer;
}

.problemView_btn:hover {
  color: #EBF6FF;
  background-color: #C84630;
}

.result_container {
  width: 80vw;
  height: 50vh;
  margin-top: 10vh;
  padding: 2vw;
}

.success {
  background-color: #EBF6FF;
}

.failure {
  background-color: #BCAF9C;
}

.routes {
  padding: 1vw;
}

.goBack_btn {
  position: fixed;
  bottom: 30vh;
  right: 15vw;
  background-color: #C84630;
}
