body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #7d83ff;
}

a {
  color: #00B7FF;
}

.header {
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #d4dcff;
}

.main {
  padding: 40px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  border-top: 2px solid #d4dcff;
}

.login-button {
  width: 200px;
  height: 30px;
  color: #7d83ff;
  border: 2px solid #d4dcff;
  border-radius: 5px;
  background: white;
  transition: all 0.3s;
}

.login-button:hover {
  background: #d4dcff;
  color: white;
}
