.success-result-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 40vh;
}

.testcase-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 2px solid green;
}

.testcases-wrapper {
  width: 40vw;
}

.testcase-explain {
  margin-left: 3vw;
}

.testcase-explain > h2 {
  margin: 1vh auto
}

.final-result-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.problem-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  width: 10vw;
}

a {
  color: black;
}
