mixin failure(props = {})
  .failure(id=props.id)
    .failureContent__container
      label You Lose...!
      each result in results
        .result=(`testcase:${result.index} : ${result.message}`)
      button#failureButton try again!
