mixin success(props = {})
  .success(id=props.id)
    .successContent__container
      label You Win!
      each result in results
        .result=(`testcase ${result.index} : ${result.message}`)
      button#successButton(href="/") Good Job!
