form {
  font-size: 1.6rem;
  width: 80%;

  .form-control {
    display: flex;
    justify-content: center;
    margin: 2rem 0;

    label {
      width: 220px;
      margin-right: 2rem;
      text-align: right;
    }

    input {
      background: none;
      outline: none;
      margin-bottom: 0.5rem;
      border: 0;
      border-bottom: 1px solid #a1a1a1;
      font: inherit;
      color: inherit;
    }
  }

  .buttons {
    display: flex;
    justify-content: center;
    margin-left: 170px;
    font-size: 1.4rem;

    button {
      background: none;
      color: inherit;
      min-width: 120px;
      margin: 1rem;
      padding: 0.5rem 1rem;
      outline: none;
      font-size: inherit;
      font-family: inherit;
      border: 1px solid #a1a1a1;
      opacity: 0.8;

      &:hover {
        cursor: pointer;
        background-color: rgba(#fff, 0.6);
        color: #000;

        a {
          color: #000;
        }
      }
    }
  }
}
