.problems {
  max-width: 700px;
  margin: 0 auto;

  ul {
    display: flex;
    margin-right: 2rem;
    flex-direction: column;
    justify-content: center;
    list-style: none;

    li {
      display: flex;
      align-items: center;
      height: 70px;
      margin: 0.5rem 0;
      border: 1px solid #bcbfc2;

      &:hover {
        background-color: rgba(#fff, 0.6);
        color: #000;
      }

      .level {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15%;
        height: 100%;
        margin-right: 0.5rem;
        border-right: 1px solid #bcbfc2;
        background-color: rgba(#636465, 0.4);
      }

      .title {
        width: 70%;
        padding: 0.5rem;
        font-size: 1.6rem;
      }

      .info {
        width: 15%;
        opacity: 0.7;
        font-size: 0.7rem;
      }
    }
  }
}
