.grid-wrapper {
  margin-top: 10%;
}

.grid-container {
  display: grid;
  grid-auto-rows: 50px;
  grid-template-columns: 100px 200px  50px 50px 100px;
  align-content: center;
  justify-content: center;
}

.grid-item {
  padding: auto;
  justify-self: center;
  align-self: center;
  border: 1px solid black;
}
