<div class="result_container failure">
  <h1>Fail</h1>
  <% result.forEach(function(data, index){ %>
    <div>
      <span>TEST <%= index %></span>
      <span>Your answer is <%= data %></span>
      <span>Expected: <%= testCases[index].solution %></span>
    </div>
  <% }); %>

  <span class="goBack_btn routes">
    <a href="/problems/<%= problemId %>">문제로 돌아가기</a>
  </span>
</div>
