<header class="header">
  <div class="left-header">
    <a class="home-link" href="/"></a>
    <img class="header-logo" src="/image/codewars.png" alt="logo">
    <p>Codewars</p>
  </div>
  <div>
    <a class="logout-link" href="/login/logout"></a>
    <p>Logout</p>
  </div>
</header>
