<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/header.css" />
  </head>
  <body>
    <header class="header">
      <div class="left-header">
        <a class="link-area" href="/"></a>
        <img class="header-logo" src="/image/codewars.png" alt="logo">
        <p>Codewars</p>
      </div>
      <p>Logout</p>
    </header>
  </body>
</html>
