<header>
  <div class="routes"><a href="/">Codewars</a></div>
  <div class="routes"><a href="/problems">Problems</a></div>
  <% if (!user) { %>
    <div class="routes"><a href="/auth/login">Login</a></div>
  <% } else { %>
    <div class="routes"><a href="/auth/logout">Logout</a></div>
    <div>Welcome <%= user.name.familyName %></div>
  <% } %>
</header>
