<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/error.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <link rel='stylesheet' href='/stylesheets/problem.css' />
    <link rel="stylesheet" href="/lib/codemirror/lib/codemirror.css" />
    <link rel="stylesheet" href="/lib/codemirror/lib/codemirror-theme.css" />
    <script src="/lib/codemirror/lib/codemirror.js"></script>
    <script src="/lib/codemirror/mode/javascript/javascript.js"></script>
  </head>
</html>
