<header>
  <h1><a href="/">Codewars</a></h1>
  <% if (user) { %>
    <a href="/logout" class="login-button logout">Logout</a>
  <% } else { %>
    <a href="/login" class="login-button">Login</a>
  <% } %>
</header>
<h2 class="quote"><%= title %></h2>
