<div class="problemView_container">
  <form
    action="/problems/result"
    method="POST"
    class="problem_form"
    target="resultView"
  >
    <div class="problemView_info">
      <input
        name="problemId"
        value="<%= problem.id %>"
        readonly
      />
      <div><%= problem.title %></div>
      <div><%= problem.description %></div>
    </div>
    <textarea class="problem_textarea" name="code">
      function solution(v) {

      }
    </textarea>
    <input class="problemView_btn" type="submit" value="SUBMIT">
  </form>
</div>
