<section>
  <p>코딩 전쟁이 일어난다. 모든 대원들, 전투 준비!</p>
  <div class="problems_container">
    <% problems.forEach(function(problem){ %>
      <% const { id, title, completed_users, difficulty_level } = problem; %>
        <a
          class="problems_box"
          href="/problems/<%= problem.id %>"
        >
          <p class="problems_users">해결사들: <%= completed_users.length %></p>
          <div>LEVEL <%= difficulty_level %></div>
          <%= title %>
        </a>
    <% }); %>
  </ul>
</section>
