<div class="problem_container">
  <form
    action="/problems/result"
    method="POST"
    class="problem_form"
  >
    <input
      name="problemId"
      value="<%= problem.id %>"
      readonly
    />
    <div class="problem_details">
      <%= problem.title %>
      <%= problem.description %>
    </div>
    <textarea
      class="problem_textarea"
      name="code"
    >
    function solution(v) {
      let bottomup = [];
      bottomup[0] = 0;
      bottomup[1] = 1;
      bottomup[2] = 1;
      for (let i = 3; i <= v; i++) {
      bottomup[i] = (bottomup[i-1]%1234567 + bottomup[i-2]%1234567);
      }
      return bottomup[v];
    }
    </textarea>
    <input type="submit" value="SUBMIT">
  </form>
</div>

