<section>
  <h1>Codewars</h1>
  <h2>코딩 전쟁이 일어난다. 모든 대원들, 전투 준비!</h2>

  <ul class="tabs">
    <% problems.forEach(function(problem){ %>
      <li>LEVEL <%= problem.difficulty_level %></li>
    <% }); %>
  </ul>

  <ul class="problems">
    <% problems.forEach(function(problem){ %>
      <% const { id, title, completed_users } = problem; %>
      <li>
        <div>
          <a href="/problems/<%= problem.id %>">
            <%= title %>
            <%= completed_users.length %></a>
        </div>
      </li>
    <% }); %>
  </ul>
</section>
