<div class="problem_container">
  <form
    action="/problems/result"
    method="POST"
    class="problem_form"
  >
    <input
      name="problemId"
      value="<%= problem.id %>"
      readonly
    />
    <div class="problem_details">
      <%= problem.title %>
      <%= problem.description %>
    </div>
    <textarea
      class="problem_textarea"
      name="code"
    >
      function solution() {

      }
    </textarea>
    <input type="submit" value="SUBMIT">
  </form>
</div>

