@import 'base';

body {
  background-image: url('/images/code_falling.gif');
}

.login-container {
  width: 50%;
  min-height: 40vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: white;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 15px;
  padding: 0 3em;

  h1 {
    margin-top: 0;
    width: 100%;
    text-align: center;
    overflow-wrap: break-word;
  }

  a {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 3px;
  }
}
