@import 'base';

body {
  background-color: skyblue;
}

h2 {
  background-color: #fff;
  padding: 10px;
}

.description {
  background-color: #fff;
  margin: 1em;
  padding: 10px;
  border-radius: 12px;
}

.code-mirror {
  font-size: 16px;
}

input[type="submit"] {
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  margin-top: 10px;
}
