@import 'base';

body {
  background-color: yellowgreen;
}

.container {
  background-color: #fff;
  margin: 1em;
  padding: 10px;

  button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
