<div class="form_wrapper" id="problem-create-form">
  <form class="form-common wide-width" action="/problems/create" method="POST">
    <h3>Create Problem</h3>
    <h4>input problem information</h4>

    <fieldset>
      <input placeholder="Problem Title" name="title" type="text" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input placeholder="Level" name="difficulty_level" type="number" tabindex="3" required>
    </fieldset>
    <fieldset>
      <textarea id="simpleMDE" class="problem-desc" name="description"tabindex="4" required>Description (Support Mark Down Format)</textarea>
    </fieldset>
    <fieldset>
      <label class="result-type-label" for="result_type">Return Type</label>
      <select class="result-type" name="result_type" tabindex="4" required>
        <option value="number">number</option>
        <option value="string">string</option>
        <option value="boolean">boolean</option>
      </select>
    </fieldset>
    <fieldset>
      <label class="result-type-label" for="argument">Default Argument (문제 화면에서 초기 argument로 들어감)</label>
      <input type="text" name="argument" placeholder="ex) n -> solution(n){ }  /  index => solution(index){ }" required>
    </fieldset>
    <fieldset>
      <label class="result-type-label" for="img">Img URL</label>
      <input type="text" name="img" placeholder="img url" required value="https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Orange_question_mark.svg/1200px-Orange_question_mark.svg.png">
    </fieldset>
    <div class="test-list-content-wrapper">
      <span class="test-list-title">test List</span>
      <div class="test-list-input">
        <label for="test-code">
          <span class="test-list-label">Test Code</span>
          <input type="text" id="test-code" placeholder='ex) solution(["Park", "Kim", "Choi"])'/>
        </label>
        <label for="test-solution">
          <span class="test-list-label">Solution</span>
          <input type="text" id="test-solution" placeholder='ex) "김서방은 1에 있습니다."'/>
        </label>
        <button id="test-add" class="test-list-add-btn" type="button">
          <i class="fas fa-plus"></i>
        </button>
      </div>
      <div class="test-list-wrapper">
        <ul class="test-list">
        </ul>
      </div>
    </div>
    <fieldset>
      <button type="submit" id="problem-create">Create</button>
    </fieldset>
    <fieldset>
      <a href="/"><button type="button" class="cancel-btn">Cancel</button></a>
    </fieldset>
  </form>
</div>

<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script src="/javascripts/problemCreate.js"></script>
