<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel="stylesheet" href="/javascripts/codemirror/styles/codemirror.css" />
    <link rel="stylesheet" href="/javascripts/codemirror/styles/moxer.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <meta
      name="viewport"
      content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0"
    />
  </head>
  <body>
    <%- body %>
    <script src="/javascripts/codeMirror/codemirror.5.58.1.js"></script>
    <script src="/javascripts/codeMirror/mode/javascript.js"></script>
    <script type="text/javascript" src="/javascripts/index.js"></script>
  </body>
</html>
