<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/scripts/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="/scripts/codemirror/theme/ayu-dark.css">
  </head>
  <body>
    <%- body %>
    <script src="/scripts/codeMirror/lib/codeMirror.js"></script>
    <script src="/scripts/codeMirror/mode/javascript/javascript.js"></script>
    <script type="text/javascript" src="/javascripts/index.js"></script>
  </body>
</html>
