<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel="stylesheet" href="/javascripts/codemirror/styles/codemirror.css">
    <link rel="stylesheet" href="/javascripts/codemirror/styles/moxer.css">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
  </head>
  <body>
    <%- body %>
  </body>
</html>
